{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Research and conflicts
      </h1>

      <p>This section asks for details of any risks or conflicts of interest that may arise from your research.</p>
      <p>All questions are mandatory unless marked as optional. </p>
      <p>You don’t have to answer all these questions in one session – you can save and come back later if you need to.</p>

      {{ govukButton({
        text: "Continue",
        href: "/project/risks-and-conflicts/risk-to-team"
      }) }}
    </div>
  </div>

{% endblock %}
