{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ data['projectTitle'] or "Project title"}} – {{ serviceName }} – HRA Prototype
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% if errors and errors.length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ data['projectTitle'] or "Project title"}} Configuration
      </h1>

      <form method="post" novalidate>

      {{ govukRadios({
        idPrefix: "isClinical",
        classes: "govuk-radios--inline",
        name: "isClinical",
        value: data["isClinical"],
        fieldset: {
          legend: { text: "Is this project a clinical investigation or other study of a medical device (including digital technology)?" }
        },
        errorMessage: errorMap and errorMap["isClinical"],
        items: [
          { value: "yes", text: "Yes" },
          { value: "no", text: "No" }
        ]
      }) }}

      {{ govukRadios({
        idPrefix: "isIonising",
        classes: "govuk-radios--inline",
        name: "isIonising",
        value: data["isIonising"],
        fieldset: {
          legend: { text: "Does the project involve exposing participants to any ionising radiation?" }
        },
        errorMessage: errorMap and errorMap["isIonising"],
        items: [
          { value: "yes", text: "Yes" },
          { value: "no", text: "No" }
        ]
      }) }}

      {{ govukRadios({
        idPrefix: "isBioSample",
        classes: "govuk-radios--inline",
        name: "isBioSample",
        value: data["isBioSample"],
        fieldset: {
          legend: { text: "Will you be taking or using any human biological samples?" }
        },
        errorMessage: errorMap and errorMap["isBioSample"],
        items: [
          { value: "yes", text: "Yes" },
          { value: "no", text: "No" }
        ]
      }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          {{ govukButton({
            text: "Save for later",
            classes: "govuk-button--secondary",
            href: "#"
          }) }}
        </div>
      </form>

    </div>
  </div>

{% endblock %}
