{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ data['projectTitle'] or "Project title"}} – {{ serviceName }} – HRA Prototype
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  {# ----------------------------
     Value -> label lookups
     (so summary shows readable text, not internal values)
  ----------------------------- #}

  {% set yesNoMap = {
    "yes": "Yes",
    "no": "No",
    "Yes": "Yes",
    "No": "No"
  } %}

  {% set participantGroupMap = {
    "carers_guardians": "Carers, parents or legal guardians of patients or participants",
    "healthy_volunteers": "Healthy volunteers or controls",
    "public": "Members of the public",
    "nhs_patients_service_users": "Patients or service users of NHS or HSC provided or commissioned services",
    "care_home_residents": "Patients or residents in care homes, independent health care clinics, nursing homes or residential care",
    "deceased": "People who are known to be deceased prior to their inclusion in the project",
    "other_social_care_users": "Service users in other social care settings",
    "nhs_hsc_staff": "Staff working in NHS or HSC provided or commissioned services",
    "other_care_staff": "Staff working in other care settings",
    "other": "Other"
  } %}

  {# Build display list #}
  {% set participantGroupsDisplay = [] %}
  {% for val in (data.participantGroups or []) %}
    {% if val == "other" %}
      {% if data.participantGroupsOther %}
        {% set participantGroupsDisplay = participantGroupsDisplay.concat("Other: " + (data.participantGroupsOther | escape)) %}
      {% else %}
        {% set participantGroupsDisplay = participantGroupsDisplay.concat("Other") %}
      {% endif %}
    {% else %}
      {% set participantGroupsDisplay = participantGroupsDisplay.concat(participantGroupMap[val]) %}
    {% endif %}
  {% endfor %}

  {% set researchActivityMap = {
    "previously_collected_data": "Use of previously collected data about people",
    "previously_collected_biosamples": "Use of previously collected human biological samples",
    "non_clinical_staff_activities": "Non-clinical activities with staff, such as interviews, questionnaires and observations",
    "non_clinical_people_interviews_surveys": "Non-clinical activities with people, such as interviews or surveys",
    "non_clinical_people_procedures": "Non-clinical activities with people, such as non-clinical assessments, observations or care procedures",
    "clinical_people_activities": "Clinical activities with people, such as collecting human biological samples, imaging investigations or diagnostics",
    "treatment": "Treatment, such as medicines, devices, surgery, vaccines or therapies"
  } %}

  {% set ctimpCombinedMap = {
    "ctimp": "Clinical trial of an investigational medicinal product",
    "ctimp-and-device": "Combined trial of an investigational medicinal product and an investigational medical device",
    "clinical trial of an investigational medicinal product": "Clinical trial of an investigational medicinal product",
    "combined trial of an investigational medicinal product and an investigational medical device": "Combined trial of an investigational medicinal product and an investigational medical device"
  } %}

  {% set ageRangeMap = {
    "in_utero": "In utero",
    "preterm_under_37_weeks": "Preterm newborn infants (up to gestational age less than 37 weeks)",
    "newborn_0_27_days": "Newborn (0 to 27 days)",
    "28_days_to_23_months": "28 days to 23 months",
    "2_to_9_years": "2 to 9 years",
    "10_to_15_years": "10 to 15 years",
    "16_to_17_years": "16 to 17 years",
    "18_to_39_years": "18 to 39 years",
    "40_to_49_years": "40 to 49 years",
    "50_to_59_years": "50 to 59 years",
    "60_to_69_years": "60 to 69 years",
    "70_plus_years": "70+ years"
  } %}


  {% set participantConsentMap = {
    "all": "Consent will be obtained from or on behalf of all participants",
    "none": "Consent will not be obtained from or on behalf of any participants",
    "some": "Consent will be obtained from or on behalf of participants in some situations",
    "already": "Consent has already been obtained from or on behalf of participants for use of their previously-collected data or human biological samples",
    "Consent will be obtained from or on behalf of all participants": "Consent will be obtained from or on behalf of all participants",
    "Consent will not be obtained from or on behalf of any participants": "Consent will not be obtained from or on behalf of any participants",
    "Consent will be obtained from or on behalf of participants in some situations": "Consent will be obtained from or on behalf of participants in some situations",
    "Consent has already been obtained from or on behalf of participants for use of their previously-collected data or human biological samples": "Consent has already been obtained from or on behalf of participants for use of their previously-collected data or human biological samples"
  } %}

  {% set noConsentMap = {
    "non_identifiable_patient_data": "For the use of non-identifiable patient or care data by the research team",
    "identifiable_data_usual_care_team": "For access to identifiable patient or care data by the usual care team (including identification of potential participants)",
    "identifiable_data_no_legal_basis": "For access to identifiable patient or care data by people without an existing legal basis (including identification of potential participants)",
    "previously_collected_non_identifiable_biosamples": "For the use of previously collected non-identifiable human biological samples",
    "previously_collected_identifiable_biosamples_no_consent": "For the use of previously collected identifiable human biological samples without relevant consent for their use in this project",
    "adult_lacks_capacity": "When adults do not have capacity to consent to their participation",
    "other": "Other"
  } %}


  {% set isCapableMap = {
    "all": "All adults will have capacity to consent for themselves as participants",
    "none": "No adults will have capacity to consent for themselves as participants",
    "some": "Some adults may lack capacity to consent for themselves as participants",
    "all adults will have capacity to consent for themselves as participants": "All adults will have capacity to consent for themselves as participants",
    "no adults will have capacity to consent for themselves as participants": "No adults will have capacity to consent for themselves as participants",
    "some adults may lack capacity to consent for themselves as participants": "Some adults may lack capacity to consent for themselves as participants"
  } %}

  {% set isHFEAMap = {
    "regulated-activities": "Yes, activities regulated by HFEA",
    "register-data": "Yes, accessing data from the HFEA register",
    "no": "No",
    "yes, activities regulated by HFEA": "Yes, activities regulated by HFEA",
    "yes, accessing data from the HFEA register": "Yes, accessing data from the HFEA register"
  } %}

  {% set adultsAndChildrenMap = {
    "adult": "Adults",
    "adult_including_16_17_scotland": "Adults (including children 16–17 years old in Scotland)",
    "child_u18": "Children (under 18 years old)",
    "child_u16": "Children (under 16 years of age)"
  } %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before your pathway is configured
      </h1>

      <h2 class="govuk-heading-m">Section title</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        {% if (data['participantGroups'])|length %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Participant groups
      </dt>
      <dd class="govuk-summary-list__value">
        {% for value in data["participantGroups"] %}
          {% if value == "other" %}
            {% if data["participantGroupsOther"] %}
              <p>Other: {{ data["participantGroupsOther"] | escape }}</p>
            {% else %}
              <p>Other</p>
            {% endif %}
          {% else %}
            <p>{{ participantGroupMap[value] or value }}</p>
          {% endif %}
        {% endfor %}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/project-scope/participants">Change<span class="govuk-visually-hidden"> participant groups</span></a>
      </dd>
    </div>
  {% endif %}


        {% if (data['researchActivities'])|length %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Research activities
          </dt>
          <dd class="govuk-summary-list__value">
            {% for value in data["researchActivities"] %}
              <p>{{ researchActivityMap[value] or value }}</p>
            {% endfor %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/my-research/project-scope-activities">Change<span class="govuk-visually-hidden"> research activities</span></a>
          </dd>
        </div>
        {% endif %}

        {% if data['isCTIMP'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Clinical trial
          </dt>
          <dd class="govuk-summary-list__value">
            {{ yesNoMap[data['isCTIMP']] or data['isCTIMP'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/my-research/project-scope-ctimp">Change<span class="govuk-visually-hidden"> clinical trial</span></a>
          </dd>
        </div>

          {# If CTIMP is yes, show the combined CTIMP/device question if present #}
          {% if (data['isCTIMP'] == "yes" or data['isCTIMP'] == "Yes") and (data['ctimpCombined'] or data['CTIMPCombined'] or data['CTIMPcombined']) %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              CTIMP type
            </dt>
            <dd class="govuk-summary-list__value">
              {{ ctimpCombinedMap[data['ctimpCombined'] or data['CTIMPCombined'] or data['CTIMPcombined']] or (data['ctimpCombined'] or data['CTIMPCombined'] or data['CTIMPcombined']) }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/my-research/project-scope-ctimp">Change<span class="govuk-visually-hidden"> CTIMP type</span></a>
            </dd>
          </div>
          {% endif %}
        {% endif %}

        {% if (data['adultsAndChildren'])|length %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are you involving adults or children in your project?
          </dt>
          <dd class="govuk-summary-list__value">
            {% for v in data["adultsAndChildren"] %}
            <p>{{ adultsAndChildrenMap[v] or v }}</p>
          {% endfor %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/my-research/project-scope-participant-age">Change<span class="govuk-visually-hidden"> adults or children</span></a>
          </dd>
        </div>

          {% if (data['childAge'])|length %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What ages are your child participants?
            </dt>
            <dd class="govuk-summary-list__value">
              {% for v in data["childAge"] %}
                <p>{{ ageRangeMap[v] or v }}</p>
              {% endfor %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/my-research/project-scope-participant-age-range">Change<span class="govuk-visually-hidden"> child age ranges</span></a>
            </dd>
          </div>
          {% endif %}

          {% if (data['adultAge'])|length %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What ages are your adult participants?
            </dt>
            <dd class="govuk-summary-list__value">
              {% for v in data["adultAge"] %}
                <p>{{ ageRangeMap[v] or v }}</p>
              {% endfor %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/my-research/project-scope-participant-age-range">Change<span class="govuk-visually-hidden"> adult age ranges</span></a>
            </dd>
          </div>
          {% endif %}
        {% endif %}

        {% if data['isClinical'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is this project a clinical investigation or other study of a medical device (including digital technology)?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ yesNoMap[data['isClinical']] or data['isClinical'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/my-research/project-scope-additional">Change<span class="govuk-visually-hidden"> medical device study</span></a>
          </dd>
        </div>
        {% endif %}

        {% if data['isIonising'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does the project involve exposing participants to any ionising radiation?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ yesNoMap[data['isIonising']] or data['isIonising'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/my-research/project-scope-additional">Change<span class="govuk-visually-hidden"> ionising radiation</span></a>
          </dd>
        </div>
        {% endif %}

        {% if data['isBioSample'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Will you be taking or using any human biological samples?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ yesNoMap[data['isBioSample']] or data['isBioSample'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/my-research/project-scope-additional">Change<span class="govuk-visually-hidden"> biological samples</span></a>
          </dd>
        </div>
        {% endif %}

        {% if data['participantConsent'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Will you seek consent from or on behalf of participants?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ participantConsentMap[data['participantConsent']] or data['participantConsent'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/my-research/project-scope-participant-consent">Change<span class="govuk-visually-hidden"> participant consent</span></a>
          </dd>
        </div>
        {% endif %}

        {% if (data['noConsent'])|length %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Select all the situations when consent or assent will not be obtained
          </dt>
          <dd class="govuk-summary-list__value">
            {% for v in data["noConsent"] %}
              <p>{{ noConsentMap[v] or v }}</p>
            {% endfor %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/my-research/project-scope-participant-consent">Change<span class="govuk-visually-hidden"> situations where consent is not obtained</span></a>
          </dd>
        </div>
        {% endif %}

        {% if data['isCapable'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            When recruiting adult participants, what capacity will they have to consent to their participation?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ isCapableMap[data['isCapable']] or data['isCapable'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/my-research/project-scope-participant-consent">Change<span class="govuk-visually-hidden"> capacity to consent</span></a>
          </dd>
        </div>
        {% endif %}

        {% if data['isHMPPS'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is your research studying the health and care of prisoners or young offenders in custody, or offenders supervised by probation services?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ yesNoMap[data['isHMPPS']] or data['isHMPPS'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/my-research/project-scope-hmpps">Change<span class="govuk-visually-hidden"> HMPPS involvement</span></a>
          </dd>
        </div>
        {% endif %}

        {% if data['isMOD'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Will this project involve any activity under the responsibility of the Ministry of Defence (MOD)?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ yesNoMap[data['isMOD']] or data['isMOD'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/my-research/project-scope-mod">Change<span class="govuk-visually-hidden"> MOD involvement</span></a>
          </dd>
        </div>
        {% endif %}

        {% if data['isHFEA'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Will this project involve activities or data regulated by the Human Fertilisation and Embryology Authority (HFEA)?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ isHFEAMap[data['isHFEA']] or data['isHFEA'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/my-research/project-scope-hfea">Change<span class="govuk-visually-hidden"> HFEA involvement</span></a>
          </dd>
        </div>
        {% endif %}

      </dl>

      <h2 class="govuk-heading-m">Build your project</h2>
      <p class="govuk-body">By submitting these configuration criteria, you will be generating a a project build that will guide you through approvals.</p>

      <form action="/my-research/success" method="post" novalidate>
        <input type="hidden" name="answers-checked" value="true">
        {{ govukButton({ text: "Build project" }) }}
      </form>

    </div>
  </div>

{% endblock %}
