{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ data['projectTitle'] or "Project title"}} – {{ serviceName }} – HRA Prototype
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  {# ----------------------------
     Value -> label lookups
     (so summary shows readable text, not internal values)
  ----------------------------- #}

  {% set yesNoMap = {
    "yes": "Yes",
    "no": "No",
    "Yes": "Yes",
    "No": "No"
  } %}

  {% set participantGroupMap = {
    "carers_guardians": "Carers, parents or legal guardians of patients or participants",
    "healthy_volunteers": "Healthy volunteers or controls",
    "public": "Members of the public",
    "nhs_patients_service_users": "Patients or service users of NHS or HSC provided or commissioned services",
    "care_home_residents": "Patients or residents in care homes, independent health care clinics, nursing homes or residential care",
    "deceased": "People who are known to be deceased prior to their inclusion in the project",
    "other_social_care_users": "Service users in other social care settings",
    "nhs_hsc_staff": "Staff working in NHS or HSC provided or commissioned services",
    "other_care_staff": "Staff working in other care settings",
    "other": "Other"
  } %}

  {# Build display list #}
  {% set participantGroupsDisplay = [] %}
  {% for val in (data.participantGroups or []) %}
    {% if val == "other" %}
      {% if data.participantGroupsOther %}
        {% set participantGroupsDisplay = participantGroupsDisplay.concat("Other: " + (data.participantGroupsOther | escape)) %}
      {% else %}
        {% set participantGroupsDisplay = participantGroupsDisplay.concat("Other") %}
      {% endif %}
    {% else %}
      {% set participantGroupsDisplay = participantGroupsDisplay.concat(participantGroupMap[val]) %}
    {% endif %}
  {% endfor %}

  {% set researchActivityMap = {
    "previously_collected_data": "Use of previously collected data about people",
    "previously_collected_biosamples": "Use of previously collected human biological samples",
    "non_clinical_staff_activities": "Non-clinical activities with staff, such as interviews, questionnaires and observations",
    "non_clinical_people_interviews_surveys": "Non-clinical activities with people, such as interviews or surveys",
    "non_clinical_people_procedures": "Non-clinical activities with people, such as non-clinical assessments, observations or care procedures",
    "clinical_people_activities": "Clinical activities with people, such as collecting human biological samples, imaging investigations or diagnostics",
    "treatment": "Treatment, such as medicines, devices, surgery, vaccines or therapies"
  } %}

  {% set ctimpCombinedMap = {
    "ctimp": "Clinical trial of an investigational medicinal product",
    "ctimp-and-device": "Combined trial of an investigational medicinal product and an investigational medical device",
    "clinical trial of an investigational medicinal product": "Clinical trial of an investigational medicinal product",
    "combined trial of an investigational medicinal product and an investigational medical device": "Combined trial of an investigational medicinal product and an investigational medical device"
  } %}

  {% set ageRangeMap = {
    "in_utero": "In utero",
    "preterm_under_37_weeks": "Preterm newborn infants (up to gestational age less than 37 weeks)",
    "newborn_0_27_days": "Newborn (0 to 27 days)",
    "28_days_to_23_months": "28 days to 23 months",
    "2_to_9_years": "2 to 9 years",
    "10_to_15_years": "10 to 15 years",
    "16_to_17_years": "16 to 17 years",
    "18_to_39_years": "18 to 39 years",
    "40_to_49_years": "40 to 49 years",
    "50_to_59_years": "50 to 59 years",
    "60_to_69_years": "60 to 69 years",
    "70_plus_years": "70+ years"
  } %}


  {% set participantConsentMap = {
    "all": "Consent will be obtained from or on behalf of all participants",
    "none": "Consent will not be obtained from or on behalf of any participants",
    "some": "Consent will be obtained from or on behalf of participants in some situations",
    "already": "Consent has already been obtained from or on behalf of participants for use of their previously-collected data or human biological samples"
  } %}

  {% set noConsentMap = {
    "non_identifiable_patient_data": "For the use of non-identifiable patient or care data by the research team",
    "identifiable_data_usual_care_team": "For access to identifiable patient or care data by the usual care team (including identification of potential participants)",
    "identifiable_data_no_legal_basis": "For access to identifiable patient or care data by people without an existing legal basis (including identification of potential participants)",
    "previously_collected_non_identifiable_biosamples": "For the use of previously collected non-identifiable human biological samples",
    "previously_collected_identifiable_biosamples_no_consent": "For the use of previously collected identifiable human biological samples without relevant consent for their use in this project",
    "adult_lacks_capacity": "When adults do not have capacity to consent to their participation",
    "other": "Other"
  } %}


  {% set isCapableMap = {
    "all": "All adults will have capacity to consent for themselves as participants",
    "none": "No adults will have capacity to consent for themselves as participants",
    "some": "Some adults may lack capacity to consent for themselves as participants",
    "all adults will have capacity to consent for themselves as participants": "All adults will have capacity to consent for themselves as participants",
    "no adults will have capacity to consent for themselves as participants": "No adults will have capacity to consent for themselves as participants",
    "some adults may lack capacity to consent for themselves as participants": "Some adults may lack capacity to consent for themselves as participants"
  } %}

  {% set isHFEAMap = {
    "regulated-activities": "Yes, activities regulated by HFEA",
    "register-data": "Yes, accessing data from the HFEA register",
    "no": "No",
    "yes, activities regulated by HFEA": "Yes, activities regulated by HFEA",
    "yes, accessing data from the HFEA register": "Yes, accessing data from the HFEA register"
  } %}

  {% set adultsAndChildrenMap = {
    "adult": "Adults",
    "adult_including_16_17_scotland": "Adults (including children 16–17 years old in Scotland)",
    "child_u18": "Children (under 18 years old)",
    "child_u16": "Children (under 16 years of age)"
  } %}

{# ----------------------------
   Normalise arrays
----------------------------- #}

{% set participantGroups = data["participantGroups"] or [] %}
{% if participantGroups is string %}{% set participantGroups = [participantGroups] %}{% endif %}

{% set researchActivities = data["researchActivities"] or [] %}
{% if researchActivities is string %}{% set researchActivities = [researchActivities] %}{% endif %}

{% set noConsent = data["noConsent"] or [] %}
{% if noConsent is string %}{% set noConsent = [noConsent] %}{% endif %}

{% set hmppsNations = data["hmppsNations"] or [] %}
{% if hmppsNations is string %}{% set hmppsNations = [hmppsNations] %}{% endif %}

{# UKNations: array of lowercase strings #}
{% set selectedNations = data["UKNations"] or [] %}
{% if selectedNations is string %}{% set selectedNations = [selectedNations] %}{% endif %}

{% set ukNations = [] %}
{% for n in selectedNations %}
  {% if n %}
    {% set ukNations = ukNations.concat((n | trim | lower)) %}
  {% endif %}
{% endfor %}

{% set includesEngland = "england" in ukNations %}
{% set includesWales = "wales" in ukNations %}
{% set includesScotland = "scotland" in ukNations %}
{% set includesNI = ("northern ireland" in ukNations) or ("northern_ireland" in ukNations) or ("ni" in ukNations) %}

{# ----------------------------
   Core yes/no flags
----------------------------- #}

{% set isCTIMP = (data["isCTIMP"] | lower) == "yes" %}
{% set ctimpCombined = (data["ctimpCombined"] | lower) %}
{% set isCombinedCTIMP = ctimpCombined == "ctimp-and-device" %}

{% set isDeviceStudy = (data["isClinical"] | lower) == "yes" %}
{% set involvesIonising = (data["isIonising"] | lower) == "yes" %}
{% set involvesBioSamples = (data["isBioSample"] | lower) == "yes" %}

{% set involvesHMPPS = (data["isHMPPS"] | lower) == "yes" %}
{% set involvesMOD = (data["isMOD"] | lower) == "yes" %}
{% set hfeaMode = (data["isHFEA"] | lower) %}  {# regulated-activities | register-data | no #}

{# NHS/HSC involvement inferred from participant groups #}
{% set involvesNhsOrHsc =
  ("nhs_patients_service_users" in participantGroups) or
  ("nhs_hsc_staff" in participantGroups)
%}

{# Any signal that this looks like a research project (so we can show REC) #}
{% set hasAnyResearchSignal =
  (participantGroups | length > 0) or
  (researchActivities | length > 0) or
  isCTIMP or isCombinedCTIMP or isDeviceStudy or involvesIonising or involvesBioSamples or
  (data["participantConsent"] and (data["participantConsent"] | length > 0)) or
  involvesHMPPS or involvesMOD or (hfeaMode and hfeaMode != "")
%}

{# ----------------------------
   No-consent signals (keys you are using on this page)
----------------------------- #}

{% set noConsent = data["noConsent"] or [] %}
{% if noConsent is string %}{% set noConsent = [noConsent] %}{% endif %}

{% set noConsentIdentifiableUsualCare = "identifiable_data_usual_care_team" in noConsent %}
{% set noConsentIdentifiableNoLegalBasis = "identifiable_data_no_legal_basis" in noConsent %}

{% set usesIdentifiableWithoutConsent =
  noConsentIdentifiableUsualCare or noConsentIdentifiableNoLegalBasis
%}

{# ----------------------------
   “Needs X” rules
----------------------------- #}

{# Pre-submission assurances #}
{% set needsRadiationAssurance = involvesIonising %}
{% set needsPharmacyAssurance = isCTIMP and involvesNhsOrHsc %}

{# Committee reviews #}
{% set needsUKApprovals = involvesNhsOrHsc %}
{% set needsREC = hasAnyResearchSignal %}

{# CAG / PBPP based on UKNations (as requested) #}
{# Only show these when the user indicates identifiable data access without consent/legal basis. #}
{% set needsCAG = usesIdentifiableWithoutConsent and (includesEngland or includesWales) %}
{% set needsPBPP = usesIdentifiableWithoutConsent and includesScotland %}

{# Authorisations and permissions #}
{% set needsMHRA = isCTIMP or isCombinedCTIMP or isDeviceStudy %}
{# You don’t have a separate ARSAC-scope question yet; best-effort: tie to ionising radiation. #}
{% set needsARSAC = involvesIonising %}

{# HMPPS permissions per nation (driven by hmppsNations, not UKNations) #}
{% set hmppsNationsLower = [] %}
{% for n in hmppsNations %}
  {% if n %}
    {% set hmppsNationsLower = hmppsNationsLower.concat((n | trim | lower)) %}
  {% endif %}
{% endfor %}

{% set needsHMPPSPermission = involvesHMPPS and (("england" in hmppsNationsLower) or ("wales" in hmppsNationsLower)) %}
{% set needsSPSPermission = involvesHMPPS and ("scotland" in hmppsNationsLower) %}
{% set needsNIPSPermission = involvesHMPPS and (("northern ireland" in hmppsNationsLower) or ("northern_ireland" in hmppsNationsLower)) %}

{% set needsHFEA = hfeaMode and hfeaMode != "no" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Review your approvals pathway and project scope
      </h1>
      <p>
        Based on the information you have provided, this page outlines the approvals, permissions, reviews and authorisations that are likely to be required for your project.
      </p>
      <p>
        You can return to the scoping questions to change your answers and update the results at any time.
      </p>
    </div>
  </div>
  <div class="govuk-grid-row">

  {# ------------------ Pre-submission assurances ------------------ #}
  {% if needsRadiationAssurance or needsPharmacyAssurance %}
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-s">Pre-submission assurances</h2>

      {{ govukDetails({
        summaryText: "Pre-submission advice (optional)",
        text: "If you would like to, you can submit your proposed activities and protocol for pre-application advice before you formally submit your application to the review bodies for the study."
      }) }}

      {% if needsRadiationAssurance %}
        {{ govukDetails({
          summaryText: "Radiation assurance",
          text: "Apply for radiation assurance and make any changes needed to the proposed activities and the protocol that arise from that review."
        }) }}
      {% endif %}

      {% if needsPharmacyAssurance %}
        {{ govukDetails({
          summaryText: "Pharmacy assurance",
          text: "Pharmacy assurance is required for CTIMPs taking place in the NHS. This review takes place before formal submission to the other review bodies. Submit your application for pharmacy assurance and make any changes needed to the proposed activities and protocol that arise from that review."
        }) }}
      {% endif %}
    </div>
  {% endif %}


  {# ------------------ Committee reviews and approvals ------------------ #}
  {% if needsUKApprovals or needsREC or needsCAG or needsPBPP %}
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-s">Committee reviews and approvals</h2>

      {% if needsUKApprovals %}
        {{ govukDetails({
          summaryText: "Governance review",
          text: "A UK-wide review is needed to provide assurances to NHS organisations undertaking research activities in the UK."
        }) }}
      {% endif %}

      {% if needsREC %}
        {{ govukDetails({
          summaryText: "Research Ethics Committee (REC) review",
          text: "A favourable opinion from an NHS REC is needed before one or more study activities can take place. A single NHS REC opinion can cover activities across the UK."
        }) }}
      {% endif %}

      {% if needsCAG %}
        {{ govukDetails({
          summaryText: "Confidentiality Advisory Group (CAG) review",
          text: "CAG review may be required if you need access to identifiable patient or care data without consent or another legal basis in England or Wales."
        }) }}
      {% endif %}

      {% if needsPBPP %}
        {{ govukDetails({
          summaryText: "PBPP review",
          text: "PBPP review may be required if you need access to identifiable patient or care data without consent or another legal basis in Scotland."
        }) }}
      {% endif %}
    </div>
  {% endif %}


  {# ------------------ Authorisations and permissions ------------------ #}
  {% if needsARSAC or needsMHRA or involvesMOD or needsHMPPSPermission or needsSPSPermission or needsNIPSPermission or needsHFEA %}
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-s">Authorisations and permissions</h2>

      {% if needsARSAC %}
        {{ govukDetails({
          summaryText: "Administration of Radioactive Substances Advisory Committee (ARSAC) authorisation",
          text: "ARSAC authorisation may be required for some research involving ionising radiation."
        }) }}
      {% endif %}

      {% if needsMHRA %}
        {{ govukDetails({
          summaryText: "Medicines and Healthcare products Regulatory Agency (MHRA) authorisation",
          text: "MHRA authorisation may be required for CTIMPs and some medical device investigations."
        }) }}
      {% endif %}

      {% if involvesMOD %}
        {{ govukDetails({
          summaryText: "Ministry of Defence (MOD) permission",
          text: "MOD permission may be required for activities under the responsibility of the Ministry of Defence."
        }) }}
      {% endif %}

      {% if needsHMPPSPermission %}
        {{ govukDetails({
          summaryText: "His Majesty's Prison and Probation Service (HMPPS) permission",
          text: "Permission from HMPPS is needed before activities involving prisoners, young offenders in custody, or people supervised by probation services can take place in England or Wales."
        }) }}
      {% endif %}

      {% if needsSPSPermission %}
        {{ govukDetails({
          summaryText: "Scottish Prison Service permission",
          text: "Permission from the Scottish Prison Service is needed before activities involving people in custody can take place in Scotland."
        }) }}
      {% endif %}

      {% if needsNIPSPermission %}
        {{ govukDetails({
          summaryText: "Northern Ireland Prison Service permission",
          text: "Permission from the Northern Ireland Prison Service is needed before activities involving people in custody can take place in Northern Ireland."
        }) }}
      {% endif %}

      {% if needsHFEA %}
        {{ govukDetails({
          summaryText: "HFEA approval or permission",
          text: "HFEA approval or permission may be required for activities regulated by the Human Fertilisation and Embryology Authority, or for access to data from the HFEA register."
        }) }}
      {% endif %}
    </div>
  {% endif %}

</div>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">

      <h2 class="govuk-heading-m">Changing your answers may impact the reviews and assurances you require for your study.</h2>
      <p>Review the original details:</p>
      
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Which UK nations do you want your poject to take place in?
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['UKNations'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/my-research/create-research-locations?returnTo=/project-scope/check">Change<span class="govuk-visually-hidden"> UK Nations</span></a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Is the project taking place at any NHS / HSC organisations?
      </dt>
      <dd class="govuk-summary-list__value">
         {{ data['nhs-hsc-org'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/my-research/create-research-locations?returnTo=/project-scope/check">Change<span class="govuk-visually-hidden"> In NHS</span></a>
      </dd>
    </div>
      </dl>
<p>Review the project scope:</p>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {% if (data['participantGroups'])|length %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Participant groups
      </dt>
      <dd class="govuk-summary-list__value">
        {% for value in data["participantGroups"] %}
          {% if value == "other" %}
            {% if data["participantGroupsOther"] %}
              <p>Other: {{ data["participantGroupsOther"] | escape }}</p>
            {% else %}
              <p>Other</p>
            {% endif %}
          {% else %}
            <p>{{ participantGroupMap[value] or value }}</p>
          {% endif %}
        {% endfor %}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/project-scope/participants?returnTo=/project-scope/check">Change<span class="govuk-visually-hidden"> participant groups</span></a>
      </dd>
    </div>
  {% endif %}


        {% if (data['researchActivities'])|length %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Research activities
          </dt>
          <dd class="govuk-summary-list__value">
            {% for value in data["researchActivities"] %}
              <p>{{ researchActivityMap[value] or value }}</p>
            {% endfor %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/project-scope/activities?returnTo=/project-scope/check">Change<span class="govuk-visually-hidden"> research activities</span></a>
          </dd>
        </div>
        {% endif %}

        {% if data['isCTIMP'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Clinical trial
          </dt>
          <dd class="govuk-summary-list__value">
            {{ yesNoMap[data['isCTIMP']] or data['isCTIMP'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/project-scope/ctimp?returnTo=/project-scope/check">Change<span class="govuk-visually-hidden"> clinical trial</span></a>
          </dd>
        </div>

          {# If CTIMP is yes, show the combined CTIMP/device question if present #}
          {% if (data['isCTIMP'] == "yes" or data['isCTIMP'] == "Yes") and (data['ctimpCombined'] or data['CTIMPCombined'] or data['CTIMPcombined']) %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              CTIMP type
            </dt>
            <dd class="govuk-summary-list__value">
              {{ ctimpCombinedMap[data['ctimpCombined'] or data['CTIMPCombined'] or data['CTIMPcombined']] or (data['ctimpCombined'] or data['CTIMPCombined'] or data['CTIMPcombined']) }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/project-scope/ctimp?returnTo=/project-scope/check">Change<span class="govuk-visually-hidden"> CTIMP type</span></a>
            </dd>
          </div>
          {% endif %}
        {% endif %}

        {% if (data['adultsAndChildren'])|length %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are you involving adults or children in your project?
          </dt>
          <dd class="govuk-summary-list__value">
            {% for v in data["adultsAndChildren"] %}
            <p>{{ adultsAndChildrenMap[v] or v }}</p>
          {% endfor %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/project-scope/participant-age?returnTo=/project-scope/check">Change<span class="govuk-visually-hidden"> adults or children</span></a>
          </dd>
        </div>

          {% if (data['childAge'])|length %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What ages are your child participants?
            </dt>
            <dd class="govuk-summary-list__value">
              {% for v in data["childAge"] %}
                <p>{{ ageRangeMap[v] or v }}</p>
              {% endfor %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/project-scope/participant-age-range?returnTo=/project-scope/check">Change<span class="govuk-visually-hidden"> child age ranges</span></a>
            </dd>
          </div>
          {% endif %}

          {% if (data['adultAge'])|length %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What ages are your adult participants?
            </dt>
            <dd class="govuk-summary-list__value">
              {% for v in data["adultAge"] %}
                <p>{{ ageRangeMap[v] or v }}</p>
              {% endfor %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/project-scope/participant-age-range?returnTo=/project-scope/check">Change<span class="govuk-visually-hidden"> adult age ranges</span></a>
            </dd>
          </div>
          {% endif %}
        {% endif %}

        {% if data['isClinical'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is this project a clinical investigation or other study of a medical device (including digital technology)?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ yesNoMap[data['isClinical']] or data['isClinical'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/project-scope/clinical-investigation?returnTo=/project-scope/check">Change<span class="govuk-visually-hidden"> medical device study</span></a>
          </dd>
        </div>
        {% endif %}

        {% if data['isIonising'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does the project involve exposing participants to any ionising radiation?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ yesNoMap[data['isIonising']] or data['isIonising'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/project-scope/ionising-radiation?returnTo=/project-scope/check">Change<span class="govuk-visually-hidden"> ionising radiation</span></a>
          </dd>
        </div>
        {% endif %}

        {% if data['isBioSample'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Will you be taking or using any human biological samples?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ yesNoMap[data['isBioSample']] or data['isBioSample'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/project-scope/biological-samples?returnTo=/project-scope/check">Change<span class="govuk-visually-hidden"> biological samples</span></a>
          </dd>
        </div>
        {% endif %}

        {% if data['participantConsent'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Will you seek consent from or on behalf of participants?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ participantConsentMap[data['participantConsent']] or data['participantConsent'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/project-scope/consent?returnTo=/project-scope/check">Change<span class="govuk-visually-hidden"> participant consent</span></a>
          </dd>
        </div>
        {% endif %}

        {% if (data['noConsent'])|length %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Select all the situations when consent or assent will not be obtained
          </dt>
          <dd class="govuk-summary-list__value">
            {% for v in data["noConsent"] %}
              <p>{{ noConsentMap[v] or v }}</p>
            {% endfor %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/project-scope/participant-consent?returnTo=/project-scope/check">Change<span class="govuk-visually-hidden"> situations where consent is not obtained</span></a>
          </dd>
        </div>
        {% endif %}

        {% if data['isCapable'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            When recruiting adult participants, what capacity will they have to consent to their participation?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ isCapableMap[data['isCapable']] or data['isCapable'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/project-scope/participant-consent?returnTo=/project-scope/check">Change<span class="govuk-visually-hidden"> capacity to consent</span></a>
          </dd>
        </div>
        {% endif %}

        {% if data['isHMPPS'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is your research studying the health and care of prisoners or young offenders in custody, or offenders supervised by probation services?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ yesNoMap[data['isHMPPS']] or data['isHMPPS'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/project-scope/hmpps?returnTo=/project-scope/check">Change<span class="govuk-visually-hidden"> HMPPS involvement</span></a>
          </dd>
        </div>
        {% endif %}

        {% if data['isMOD'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Will this project involve any activity under the responsibility of the Ministry of Defence (MOD)?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ yesNoMap[data['isMOD']] or data['isMOD'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/project-scope/mod?returnTo=/project-scope/check">Change<span class="govuk-visually-hidden"> MOD involvement</span></a>
          </dd>
        </div>
        {% endif %}

        {% if data['isHFEA'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Will this project involve activities or data regulated by the Human Fertilisation and Embryology Authority (HFEA)?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ isHFEAMap[data['isHFEA']] or data['isHFEA'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/project-scope/hfea?returnTo=/project-scope/check">Change<span class="govuk-visually-hidden"> HFEA involvement</span></a>
          </dd>
        </div>
        {% endif %}

      </dl>

      <h2 class="govuk-heading-m">Build your project</h2>
      <p class="govuk-body">By submitting these configuration criteria, you will be generating a project build that will guide you through approvals.</p>

      <form action="/project-scope/success" method="post" novalidate>
        <input type="hidden" name="answers-checked" value="true">
        {{ govukButton({ text: "Build project" }) }}
      </form>

    </div>
  </div>

{% endblock %}
