{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" novalidate>
        <span class="govuk-caption-l">{{ data['projectTitle'] or "Project title"}}</span>
        {{ govukRadios({
          idPrefix: "isClinical",
          classes: "govuk-radios--inline",
          name: "isClinical",
          value: data["isClinical"],
          fieldset: {
            legend: {
              text: "Is this project a clinical investigation or other study of a medical device (including digital technology)?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: errorMap and errorMap["isClinical"],
          items: [
            { value: "yes", text: "Yes" },
            { value: "no", text: "No" }
          ]
        }) }}

        {{ govukDetails({
          summaryText: "Unsure if your project meets this criteria?",
          text: ""
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          {{ govukButton({
            text: "Save for later",
            classes: "govuk-button--secondary",
            href: "/my-research"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
