{% extends "layouts/main.html" %}
{% from "_partials/_question.html" import renderQuestion %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% if errors and errors.length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

{% set otherParticipantGroupHtml %}
  {{ govukTextarea({
    id: "noConsentOther",
    name: "noConsentOther",
    label: { text: "Please specify" },
    value: data["noConsentOther"]
  }) }}
{% endset %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <!--    <h1 class="govuk-heading-l">
        {{ data['projectTitle'] or "Project title"}} Configuration
      </h1>
-->
      <form method="post" novalidate>
<span class="govuk-caption-l">{{ data['projectTitle'] or "Project title"}}</span>

  {{ renderQuestion(questions.noConsent, data, errors, null, null, errorMap) }}
        {# Follow-up questions (routes enforce when required) #}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          {{ govukButton({
            text: "Save for later",
            classes: "govuk-button--secondary",
            href: "#"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
