{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ data['projectTitle'] or "Project title"}} – {{ serviceName }} – HRA Prototype
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<!--
      <h1 class="govuk-heading-l">
        {{ data['projectTitle'] or "Project title"}} Configuration
      </h1>
      -->
      <form method="post" novalidate>
        <span class="govuk-caption-l">{{ data['projectTitle'] or "Project title"}}</span>
            {{ govukRadios({
              idPrefix: "participantConsent",
              name: "participantConsent",
              value: data["participantConsent"],
              fieldset: {
                legend: {
                  text: "Will you seek consent from or on behalf of participants?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              errorMessage: errorMap and errorMap["participantConsent"],
              items: [
                { value: "all", text: "Consent will be obtained from or on behalf of all participants" },
                { value: "none", text: "Consent will not be obtained from or on behalf of any participants" },
                { value: "some", text: "Consent will be obtained from or on behalf of participants in some situations" },
                { value: "already", text: "Consent has already been obtained from or on behalf of participants for use of their previously-collected data or human biological samples" }
              ]
            }) }}

            {% set adultsAndChildren = data["adultsAndChildren"] or [] %}
            {% if adultsAndChildren is string %}
              {% set adultsAndChildren = [adultsAndChildren] %}
            {% endif %}

            {% set involvesAdults =
              adultsAndChildren.includes("adult")
              or adultsAndChildren.includes("adult_including_16_17_scotland")
            %}
            {% if involvesAdults %}
              {{ govukRadios({
                idPrefix: "isCapable",
                classes: "govuk-radios",
                name: "isCapable",
                value: data["isCapable"],
                fieldset: {
                  legend: { text: "When recruiting adult participants, what capacity will they have to consent to their participation?" }
                },
                errorMessage: errorMap and errorMap["isCapable"],
                items: [
                  { value: "all", text: "All adults will have capacity to consent for themselves as participants" },
                  { value: "none", text: "No adults will have capacity to consent for themselves as participants" },
                  { value: "some", text: "Some adults may lack capacity to consent for themselves as participants" }
                ]
              }) }}
            {% endif %}
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Save and continue"
              }) }}

              {{ govukButton({
                text: "Save for later",
                classes: "govuk-button--secondary",
                href: "/my-research"
              }) }}
            </div>

      </form>

    </div>
  </div>

{% endblock %}
