{% extends "layouts/main.html" %}

{% block pageTitle %}
  My research – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "My account",
        href: "#"
      },
      {
        text: "My research",
        href: "#"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Configure your project scope
      </h1>


<p>
  We will ask you a series of questions about your project to determine:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>what approvals and permissions may be required</li>
  <li>which review bodies may need to assess your project</li>
  <li>what information you will need to provide as part of your application</li>
</ul>

<p>
  Your answers will be used to generate a tailored approvals pathway for your project.
</p>

<h2 class="govuk-heading-m">
  Before you start
</h2>

<p>
  It may help to have the following information ready:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>the participant groups involved in your project</li>
  <li>the activities your project will include, such as clinical procedures, use of data or biological samples</li>
  <li>whether the project involves NHS organisations, prisoners, Ministry of Defence sites, or other regulated settings</li>
</ul>

<p>
  You will need to answer all questions to generate your approvals pathway.
  You can save your progress and return later if needed.
</p>
      {{ govukButton({
        text: "Start",
        href: "/project-scope/participants",
        isStartButton: true
      }) }}

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
