{% extends "layouts/main.html" %}

{% block pageTitle %}
  Research activities – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Research activities
      </h1>
      <p>This section includes questions about the research activities in this project such as:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>the intervention you are testing and how it may affect routine care</li>
          <li>risks or burdens to the participants</li>
          <li>notifying participants GP or other primary care provider</li>
          <li>arrangements for participants’ care after the project ends</li>
      </ul>
      <p>All questions are mandatory unless marked as optional.</p>
      <p>You don’t have to answer all these questions in one session – you can save and come back later if you need to.</p>

      <form action="/project/research-activities/start" method="post">
      {{ govukButton({ text: "Continue" }) }}
    </form>

    </div>
  </div>

{% endblock %}
