{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ data['projectTitle'] or "Project title"}} – {{ serviceName }} – HRA Prototype
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Ionising radiation</span>
      <h1 class="govuk-heading-l">
        {{ data['projectTitle'] or "Project title"}} study rationale and procedures
      </h1>

      <form class="form" action="#" method="post">
        {{ govukCharacterCount({
          name: "input01",
          id: "input01",
          maxlength: 2000,
          label: {
            text: "Lay summary of the study",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            text: ""
          }
        }) }}

        {{ govukDetails({
          summaryText: "Help with ionising radiation",
          html: '<p>If you need additional explanations for ionising radiation and the required documentation and assurances, see our <a href="/guidance/on-page-demo" target="_blank">guidance (opens in a new tab)</a> </p>'
        }) }}

        {{ govukCharacterCount({
          name: "input02",
          id: "input02",
          maxlength: 2000,
          label: {
            text: "Main objective of the trial",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            text: ""
          }
        }) }}
        {{ govukCharacterCount({
          name: "input03",
          id: "input03",
          maxlength: 2000,
          label: {
            text: "Secondary objectives of the trial",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            text: ""
          }
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          {{ govukButton({
            text: "Save for later",
            classes: "govuk-button--secondary",
            href: "#"
          }) }}
        </div>
      </form>

    </div>
  </div>

{% endblock %}
