{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-l">
        Ionising Radiation - defining research exposures
      </h1>

      <p>
        Summary of what you can expect to find on this page
      </p>
      <div class="gem-c-metadata">
        <dl class="gem-c-metadata__list">
            <dt class="gem-c-metadata__term">From:</dt>
            <dd class="gem-c-metadata__definition" data-module="gem-toggle" data-gem-toggle-module-started="true">
              <a href="#">Health Research Authority</a>
            </dd>
        <span id="toggle-from-3caf28b9" class="gem-c-metadata__toggle-items js-hidden" aria-live="polite" role="region"><a href="/government/organisations/department-for-environment-food-rural-affairs">Department for Environment, Food &amp; Rural Affairs</a>, <a href="/government/organisations/department-for-work-pensions">Department for work and pensions</a>, and <a href="/government/organisations/foreign-commonwealth-office">Foreign and Commonwealth Office</a></span>

            </dd>
            <dt class="gem-c-metadata__term">Part of:</dt>
            <dd class="gem-c-metadata__definition" data-module="gem-toggle" data-gem-toggle-module-started="true">
              <a href="#">Health research</a>

            </dd>
            <dt class="gem-c-metadata__term">History:</dt>
            <dd class="gem-c-metadata__definition">Updated 2 weeks ago</dd>
                <dt class="gem-c-metadata__term">Related topics:</dt>
                <dd class="gem-c-metadata__definition" data-module="gem-toggle ga4-link-tracker" data-ga4-track-links-only="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;content history&quot;,&quot;section&quot;:&quot;Top&quot;}" data-gem-toggle-module-started="true">
                  <a href="/government/topics/topic-1">Topic 1</a>, <a href="/government/topics/topic-2">Topic 2</a>, <a href="/government/topics/topic-3">Topic 3</a>, <a href="/government/topics/topic-4">Topic 4</a> and <a href="/government/topics/topic-5">Topic 5</a>
        <div class="gem-c-metadata__toggle-wrap govuk-!-display-none-print">
          <a href="#" class="gem-c-metadata__definition-link govuk-!-display-none-print" data-controls="toggle-0-ba3b38aa" data-expanded="false" data-toggled-text="Show fewer" role="button" aria-controls="toggle-0-ba3b38aa" aria-expanded="false">
              Show 4 more
          </a>
        </div>
        <span id="toggle-0-ba3b38aa" class="gem-c-metadata__toggle-items js-hidden" aria-live="polite" role="region"><a href="/government/topics/topic-6">Topic 6</a>, <a href="/government/topics/topic-7">Topic 7</a>, <a href="/government/topics/topic-8">Topic 8</a>, and <a href="/government/topics/topic-9">Topic 9</a></span>

                </dd>
                <dt class="gem-c-metadata__term">Applies to:</dt>
                <dd class="gem-c-metadata__definition" data-module="gem-toggle ga4-link-tracker" data-ga4-track-links-only="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;content history&quot;,&quot;section&quot;:&quot;Top&quot;}" data-gem-toggle-module-started="true">
                  England

                </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <nav aria-label="Contents" class="gem-c-contents-list govuk-!-margin-bottom-4">
    <h2 class="gem-c-contents-list__title">
      Contents
</h2>
    <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--parent">
          <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
          <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="#what-it-is">What is research exposure</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--parent">
          <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
          <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="#involves-research-exposure">Where a project involves research exposure</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--parent">
          <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
          <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="#notes-clarifications">Additional notes and clarifications</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--parent">
          <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
          <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="#further-advice">Further advice</a>
        </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--parent">
          <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
          <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline"  href="#defining-research-exposure">Defining research exposures - examples</a>
            <ol class="gem-c-contents-list__nested-list">
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                  <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                  <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="#screening-x-ray">Screening X-ray to determine eligibility for inclusion</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                  <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                  <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="#complementary-therapy">Complementary therapy in patients who have had radiotherapy</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                  <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                  <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="#investigation-contrast">Investigation of contrast media reactions in patients who have had CT imaging</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                  <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                  <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="#mri-study">MRI study with X-ray to check for metallic objects</a>
                </li>

              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                  <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                  <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="#glomerular">Use of Glomerular Filtration Rate</a>
                </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                  <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                  <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="#oncology">Oncology trial with follow-up imaging to assess study endpoints</a>
                </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                  <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                  <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="#follow-up">Follow-up imaging to be determined by local practice</a>
                </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                  <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                  <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="#protocol-muga">Protocol with option of MUGA or echocardiogram</a>
                </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                  <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                  <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="#phase-i">Phase I healthy volunteer trial using PET</a>
                </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                  <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                  <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="#physiology-dxa">Physiology study using DXA</a>
                </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                  <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                  <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="#pallative">Palliative radiotherapy</a>
                </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                  <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                  <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="#use-of-data">Use of data from exposures authorised outside the study</a>
                </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                  <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                  <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="#clinical-investigation">Clinical investigation of a novel medical device to be inserted using X-ray fluoroscopy</a>
                </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                  <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                  <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="#post-implant">Post-implant imaging to check the correct positioning of a novel device</a>
                </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                  <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                  <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="#post-market">Post-market study of CE marked device previously inserted using X-ray fluoroscopy</a>
                </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                  <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                  <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="#comparing-standards">Comparing standard of care X-ray to an MRI</a>
                </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                  <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                  <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="#use-pf-standard">Use of standard of care PET-CT scan to determine whether participants should remain in the trial or be removed</a>
                </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                  <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                  <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="#ct-scan">CT scan performed prior to the research required as part of screening procedure or inclusion criteria to confirm size of tumour</a>
                </li>
            </ol>
        </li>
    </ol>
      </nav>
      <h2 class="govuk-heading-m" id="what-it-is">What is a research exposure</h2>
      <p>Ionising radiation exposures are considered to be ‘research exposures’ where both the following criteria are met:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          The exposure is required as an integral part of, and for the purpose of, the research. This specifically includes:
          <ul>
            <li>
              exposures undertaken prospectively to confirm the eligibility of potential participants in the study and/or to provide (qualitative or quantitative) data regarding disease status at baseline; and/or
            </li>
            <li>
              radiotherapy as part of a treatment strategy to which patients are assigned prospectively by the protocol, either as part of an experimental or control arm, and which will be evaluated by the study; and/or
            </li>
            <li>
              exposures undertaken at formal time points within the trial protocol schedule to assess disease status or response to treatment; and/or
            </li>
            <li>
              exposures where there are clear requirements as to how they should be conducted (for example machinery to be used, imaging slice thickness) and/or
            </li>
            <li>
              image-guided procedures undertaken whilst the patient is enrolled in the study
            </li>
          </ul>
        </li>
        <li>Consent for the exposure is sought from potential participants as part of their consent to take part in the research (including screening for eligibility).</li>
      </ul>
      <p>Exposures meeting these criteria are research exposures even where they would otherwise be part of normal clinical care for patients in the same population treated outside the research setting, and whether or not research participation will result in ‘additional’ exposure over and above routine care.</p>

      <h2 class="govuk-heading-m" id="involves-research-exposure">Where a project involves a research exposure</h2>
      <p>Where a project involves a research exposure, you should capture this in the IRAS project filter page and Part B Section 3 of the application form should be completed.</p>


      <h2 class="govuk-heading-m" id="notes-clarifications">Additional notes and clarifications</h2>

      <h2 class="govuk-heading-m" id="further-advice">Further advice</h2>

      <h2 class="govuk-heading-m" id="defining-research-exposures">Defining research exposures - examples</h2>
      <p>This section gives a range of typical examples where questions could arise about whether the study involves a research exposure. The examples aim to illustrate how the above guidance should be interpreted in practice. Guidance is also given on the need for a Preliminary Research Assessment (PRA) application to the Administration of Radioactive Substances Advisory Committee (ARSAC). Please note that the list of examples is not exhaustive.</p>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m" id="screening-r-ray">Screening X-ray to determine eligibility for inclusion</caption>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Example</th>
            <td class="govuk-table__cell">The eligibility criteria for a clinical trial in HIV infection specifically exclude patients with tuberculosis (TB). The protocol requires potential participants to undergo a chest X-ray to exclude TB prior to recruitment.</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Research Exposure</th>
            <td class="govuk-table__cell">Yes.</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Rationale</th>
            <td class="govuk-table__cell">The X-ray is part of the screening procedures and occurs after consent. The X-ray is required as an integral part of the protocol in order to inform decisions about study eligibility.</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">ARSAC PRA</th>
            <td class="govuk-table__cell">No. The research exposure (X-ray) does not involve the administration of radioactive substances.</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Additional comment</th>
            <td class="govuk-table__cell">Consent for the research must be sought prior to the X-ray.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="govuk-grid-column-one-third">
      <div data-module="ga4-link-tracker" class="gem-c-related-navigation govuk-!-display-none-print">
        <h2 id="related-nav-related_items-2b2ba583" class="gem-c-related-navigation__main-heading">
          Related content
        </h2>
        <nav class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-2b2ba583" data-module="gem-toggle" data-gem-toggle-module-started="true">
          <ul class="gem-c-related-navigation__link-list">
            <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link  govuk-link gem-c-related-navigation__section-link--other" href="/#">Relevant link</a></li>
            <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link  govuk-link gem-c-related-navigation__section-link--other" href="/#">Relevant link</a></li>
            <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link  govuk-link gem-c-related-navigation__section-link--other" href="/#">Relevant link</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

{% endblock %}
