{% extends "layouts/main.html" %}

{% block pageTitle %}
  Transparency – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Transparency
      </h1>

      <p>Being transparent about your research builds trust.</p>
      <p>This section contains questions about the ways you will ensure your project is carried out openly and transparently.</p>
      <p>We’ll ask you about:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>research registration details</li>
          <li>deferral requests</li>
          <li>contact details for the research that will be made publicly available</li>
          <li>plans for sharing of samples or data beyond this research project</li>
      </ul>
      <p>All questions are mandatory unless marked as optional.</p>
      <p>You don’t have to answer all these questions in one session – you can save and come back later if you need to.</p>

      {{ govukButton({
        text: "Continue",
        href: "/project/transparency/iqa0165"
      }) }}
    </div>
  </div>

{% endblock %}
