{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Research design
      </h1>
      <p>In this section we’ll ask for information about the design of your research such as:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>research methodology</li>
          <li>research questions and objectives</li>
          <li>whether the research will use artificial intelligence</li>
          <li>details of procedures and interventions</li>
      </ul>
      <p>All questions are mandatory unless marked as optional.</p>
      <p>You don’t have to answer all these questions in one session – you can save and come back later if you need to.</p>

      {{ govukButton({
        text: "Continue",
        href: "/project/research-design/methodologies"
      }) }}

    </div>
  </div>

{% endblock %}
