{% extends "layouts/main.html" %}

{% block pageTitle %}
  Project details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Route screening questions
      </h1>

      <form class="form" action="/my-research/create-project-check" method="post">
        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "commercialResearchBoolean",
          fieldset: {
            legend: {
              text: "Is the project likely to be managed as commercial research?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
          }) }}
          {{ govukRadios({
            classes: "govuk-radios--inline",
            name: "NIHRfunding",
            fieldset: {
              legend: {
                text: "Are you seeking NIHR funding for this project?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
            }) }}

            {{ govukInsetText({
              html: "<p>The following services to support researcher are available via the Central Portfolio Management System (CPMS)
                <ul>
                  <li>
                    creation of a Schedue of Events Cost Attribution Template (SoECAT) to support non-commercial funding applications and the set-up of studies in NHS or HSC
                    </li>
                  <li>
                    creation of an interactive costing tool (for commercial sponsors) for set up of studies in the NHS or HSC
                    </li>
                  </ul>
                </p>"
            }) }}

            {{ govukRadios({
              classes: "govuk-radios--inline",
              name: "CPMSservices",
              fieldset: {
                legend: {
                  text: "Do you wish to access one or more of the CPMS services? If you select 'Yes', IRAS will share information with the CPMS once the 'continue' button at the bottom of the page has been pressed. ",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                {
                  value: "Yes",
                  text: "Yes"
                },
                {
                  value: "No",
                  text: "No"
                }
              ]
              }) }}

              {{ govukInput({
                label: {
                  text: "Provide the email of the person who will be the initial contact for CPMS.",
                  classes: "govuk-label--m",
                  isPageHeading: false
                },
                id: "cpms-email",
                name: "cpmsEmail"
              }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
