{% extends "layouts/main.html" %}

{% block pageTitle %}
  Project details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Basic project details
      </h1>
      <form class="form" action="/my-research/create-project-check" method="post">


        {{ govukInput({
          label: {
            text: "Short project title",
            classes: "govuk-label--m"
          },
          id: "projectTitle",
          name: "projectTitle",
          value: data["projectTitle"]
        }) }}

        {{ govukTextarea({
          name: "fullProjectTitle",
          id: "fullProjectTitle",
          label: {
            text: "Full project title",
            classes: "govuk-label--m"
          },
          value: data['fullProjectTitle']
        }) }}

        {% set ukNationItems = [
          { value: "england", text: "England" },
          { value: "scotland", text: "Scotland" },
          { value: "wales", text: "Wales" },
          { value: "northern-ireland", text: "Northern Ireland" }
        ] %}

        {{ govukCheckboxes({
          idPrefix: "UKNations",
          name: "UKNations",
          values: data["UKNations"],
          fieldset: {
            legend: { text: "Which UK nations do you want your poject to take place in?" }
          },
          hint: { text: "Select all that apply" },
          items: ukNationItems
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
