{% extends "layouts/main.html" %}
{% from "_partials/_question.html" import renderQuestion %}

{% block pageTitle %}
  Primary sponsor organisation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block head %}
  {{ super() }}
  {# accessible-autocomplete styles #}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/accessible-autocomplete@3/dist/accessible-autocomplete.min.css">
{% endblock %}

{% block content %}

{% if errors and errors.length %}
  {{ govukErrorSummary({ titleText: "There is a problem", errorList: errors }) }}
{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Primary sponsor organisation</h1>

      <form class="form" action="/my-research/create-CI" method="post" autocomplete="off">

        {{ renderQuestion(questions.sponsorOrg, data, errors, null, null, errorMap) }}

        {{ govukDetails({
          summaryText: "Can't find your sponsor organisation?",
          html: "<p style='margin: 0;'>You can improve your search results by:</p>
            <ul style='margin: 0;'>
              <li>double checking your spelling</li>
              <li>using fewer keywords</li>
              <li>searching for something specific</li>
            </ul>
            <p>If you still can't find the organisation you're looking for contact the service desk with the name and address of the organisation you want to add.</p>
            <p>Service desk email: <a href='mailto:service.desk@hra.nhs.uk'>service.desk@hra.nhs.uk</a></p>
            <p>Phone:<br />020 7104 8260<br />Monday to Friday, 9am to 6pm</p>"
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({ text: "Save and continue" }) }}
          {{ govukButton({ text: "Save for later", classes: "govuk-button--secondary", href: "/my-research-record" }) }}
        </div>

      </form>
    </div>
  </div>

{% endblock %}
{% block bodyEnd %}
  {{ super() }}
  <script>
    (function() {
      var items = {{ questions.sponsorOrg.items | dump | safe }};
      var currentValue = {{ (data['sponsorOrg'] if data['sponsorOrg'] else null) | dump | safe }};
      var defaultValue = items.find(function(i) { return i.value === currentValue; });

      accessibleAutocomplete({
        element: document.getElementById('sponsorOrg-autocomplete-container'),
        id: 'sponsorOrg-autocomplete',
        source: items.map(function(i) { return i.text; }),
        defaultValue: defaultValue ? defaultValue.text : '',
        onConfirm: function(val) {
          var match = items.find(function(i) { return i.text === val; });
          document.getElementById('sponsorOrg').value = match ? match.value : '';
        },
        showNoOptionsFound: false
      });
    })();
  </script>
{% endblock %}
