{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Research locations
      </h1>

      <form class="form" action="/my-research/create-sponsor-org" method="post">

        {{ govukCheckboxes({
          idPrefix: "UKNations",
          name: "UKNations",
          values: data["UKNations"],
          fieldset: {
            legend: { text: "Which UK nations will this project take place in?" }
          },
          hint: { text: "Select all that apply" },
          items: [
            {
              value: "England",
              text: "England"
            },
            {
              value: "Northern Ireland",
              text: "Northern Ireland"
            },
            {
              value: "Scotland",
              text: "Scotland"
            },
            {
              value: "Wales",
              text: "Wales"
            }
          ]
        }) }}

        {{ govukRadios({
          name: "nhs-hsc-org",
          value: data['nhs-hsc-org'],
          classes: "govuk-radios--inline",
          fieldset: {
            legend: {
              text: "Is this project taking place at any NHS / HSC organisations?",
              isPageHeading: false
            }
          },
          hint: {
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          {{ govukButton({
            text: "Save for later",
            classes: "govuk-button--secondary",
            href: "/my-research-record"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
