{% extends "layouts/main.html" %}

{% block pageTitle %}
  Scope your project – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Heading or question goes here
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

        <!-- Research activities -->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="researchActivities-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h2 class="govuk-fieldset__heading">
        Select which activities will be involved in this project
      </h2>
    </legend>
    <div id="researchActivities-id" class="govuk-hint">
      Select all that apply
    </div>

    {% if (data['participantGroups']) == "People who are known to be deceased prior to their inclusion in the project" %} 
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="previouslyCollected" name="researchActivities" type="checkbox" value="Use of previously collected data about people">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          Use of previously collected data about people
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="previouslyCollected-2" name="researchActivities" type="checkbox" value="Use of previously collected human biological samples">
        <label class="govuk-label govuk-checkboxes__label" for="previouslyCollected-2">
          Use of previously collected human biological samples
        </label>
      </div>
      </div>
    
    {% elseif (data['participantGroups']) == "Staff working in NHS or HSC provided or commissioned services" or "Staff working in other care settings" %}
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
       <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nonClinicalStaff" name="researchActivities" type="checkbox" value="Non-clinical activies with staff, such as interviews, questionnaires and observations">
        <label class="govuk-label govuk-checkboxes__label" for="nonClinicalStaff">
          Non-clinical activies with staff, such as interviews, questionnaires and observations
        </label>
      </div>
    </div>
    
    {% else %}
    
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="previouslyCollected" name="researchActivities" type="checkbox" value="Use of previously collected data about people">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          Use of previously collected data about people
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="previouslyCollected-2" name="researchActivities" type="checkbox" value="Use of previously collected human biological samples">
        <label class="govuk-label govuk-checkboxes__label" for="previouslyCollected-2">
          Use of previously collected human biological samples
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nonClinicalStaff" name="researchActivities" type="checkbox" value="Non-clinical activies with staff, such as interviews, questionnaires and observations">
        <label class="govuk-label govuk-checkboxes__label" for="nonClinicalStaff">
          Non-clinical activies with staff, such as interviews, questionnaires and observations
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nonClinicalSurvey" name="researchActivities" type="checkbox" value="Non-clinical activities with people, such as interviews or surveys">
        <label class="govuk-label govuk-checkboxes__label" for="nonClinicalSurvey">
          Non-clinical activities with people, such as interviews or surveys
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nonClinicalProcedure" name="researchActivities" type="checkbox" value="Non-clinical activities with people, such as non-clinical assessments, observations or care procedures">
        <label class="govuk-label govuk-checkboxes__label" for="nonClinicalProcedure">
          Non-clinical activities with people, such as non-clinical assessments, observations or care procedures
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="clinicalActivities" name="researchActivities" type="checkbox" value="Clinical activities with people, such as collecting human biological samples, imaging investigations or diagnostics">
        <label class="govuk-label govuk-checkboxes__label" for="clinicalActivities">
          Clinical activities with people, such as collecting human biological samples, imaging investigations or diagnostics
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nonClinicalStaff" name="researchActivities" type="checkbox" value="Treatment, such as medicines, devices, surgery, vaccines or therapies">
        <label class="govuk-label govuk-checkboxes__label" for="nonClinicalStaff">
          Treatment, such as medicines, devices, surgery, vaccines or therapies
        </label>
      </div>
    </div>
{% endif %}
  </fieldset>
</div>        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
