{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      CTIMP
    </h1>

    <form class="form" action="/my-research/project-scope-03" method="post">


      {% if (data['researchActivities']) == "Treatment, such as medicines, devices, surgery, vaccines or therapies" %}
      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "isCTIMP",
        fieldset: {
          legend: {
            text: "Is this project a clinical trial of an investigational medicinal product (CTIMP)?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}
      {% endif%}

      {{ govukRadios({
        classes: "govuk-radios",
        name: "CTIMPCombined",
        fieldset: {
          legend: {
            text: "Select the option that applies to your project:",
            isPageHeading: false,
            classes: "govuk-fieldset__legend"
          }
        },
        items: [
          {
            value: "clinical trial of an investigational medicinal product",
            text: "clinical trial of an investigational medicinal product"
          },
          {
            value: "combined trial of an investigational medicinal product and an investigational medical device",
            text: "combined trial of an investigational medicinal product and an investigational medical device"
          }
        ]
      }) }}



      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}

        {{ govukButton({
          text: "Save as draft",
          classes: "govuk-button--secondary",
          href: "/my-research"
        }) }}
      </div>
    </form>

  </div>
</div>

{% endblock %}
