{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ data['projectTitle'] or "Project title"}} – {{ serviceName }} – HRA Prototype
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% set participantGroupItems = [
  { value: "carers_guardians", text: "Carers, parents or legal guardians of patients or participants" },
  { value: "healthy_volunteers", text: "Healthy volunteers or controls" },
  { value: "public", text: "Members of the public" },
  { value: "nhs_patients_service_users", text: "Patients or service users of NHS or HSC provided or commissioned services" },
  { value: "care_home_residents", text: "Patients or residents in care homes, independent health care clinics, nursing homes or residential care" },
  { value: "deceased", text: "People who are known to be deceased prior to their inclusion in the project" },
  { value: "other_social_care_users", text: "Service users in other social care settings" },
  { value: "nhs_hsc_staff", text: "Staff working in NHS or HSC provided or commissioned services" },
  { value: "other_care_staff", text: "Staff working in other care settings" },
  { value: "other", text: "Other" }
] %}

{% if errors and errors.length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ data['projectTitle'] or "Project title"}} Configuration
      </h1>

      <form method="post" novalidate>
      {{ govukCheckboxes({
        idPrefix: "participantGroups",
        name: "participantGroups",
        values: data["participantGroups"],
        fieldset: {
          legend: {
            text: "Select which groups will participate or provide data or samples in this project.",
            isPageHeading: false
          }
        },
        hint: { text: "Select all that apply" },
        errorMessage: errorMap and errorMap["participantGroups"],
        items: participantGroupItems
      }) }}


        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          {{ govukButton({
            text: "Save as draft",
            classes: "govuk-button--secondary",
            href: "/my-research"
          }) }}
        </div>

      </form>
    </div>
  </div>

{% endblock %}
