{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before your pathway is configured
      </h1>
        <h2 class="govuk-heading-m">Section title</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            {% if (data['participantGroups'])|length %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Participant groups
              </dt>
              <dd class="govuk-summary-list__value">
                    {{ data['participantGroups'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/my-research/project-scope-participants">Change<span class="govuk-visually-hidden"> name</span></a>
              </dd>
            </div>
            {% endif %}

            {% if (data['researchActivities'])|length %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Research activities
              </dt>
              <dd class="govuk-summary-list__value">
              {{ data['researchActivities'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/my-research/project-scope-activities">Change<span class="govuk-visually-hidden"> name</span></a>
              </dd>
            </div>
            {% endif %}

            {% if (data['isCTIMP'])|length %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Clinical trial
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['isCTIMP'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/my-research/project-scope-ctimp">Change<span class="govuk-visually-hidden"> name</span></a>
              </dd>
            </div>
              {% if (data['isCTIMP'])== "Yes" %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Clinical trial
                </dt>
                <dd class="govuk-summary-list__value">
              {{ data['CTIMPCombined'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/my-research/project-scope-ctimp">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              {% endif %}
            {% endif %}

            {% if (data['adultsAndChildren'])|length %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Are you involving adults or children in your project?
              </dt>
              <dd class="govuk-summary-list__value">
              {{ data['adultsAndChildren'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/my-research/project-scope-participant-age">Change<span class="govuk-visually-hidden"> name</span></a>
              </dd>
            </div>
            {% endif %}

          </dl>
        <h2 class="govuk-heading-m">Now configure your pathway</h2>
        <p class="govuk-body">Submitting these configuration criteria, you will be generating a task list to develop and complete your approvals application process.</p>
        <form action="/form-handler" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Build configuration
          </button>
        </form>
    </div>
  </div>
{% endblock %}
