{% extends "layouts/main.html" %}

{% block pageTitle %}
  My research – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "My account",
        href: "#"
      },
      {
        text: "My research",
        href: "#"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Create a new project
      </h1>

      <p>To determine what information you need to provide and what assurances and reviews you'll require, we will ask you some questions that will determine the scope of your project.</p>
      <p>Before you begin, it would be useful to have this information to hand:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Thing one</li>
        <li>Thing two</li>
        <li>Thing three</li>
      </ul>
      <p>
        Youll need to provide an answer to all the questions and you can save your progress and come back later if you need to.
        </p>

      {{ govukButton({
        text: "Start",
        href: "/my-research/create-project-01",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>
        Ensure you've confirmed <a href="#">your project is research</a>.
      </p>

      <p>
        Support and guidance is available and can be <a href="#">reviewed here</a>.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
