{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ data['projectTitle'] or "Project title"}} – {{ serviceName }} – HRA Prototype
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ data['projectTitle'] or "Project title"}} Configuration
      </h1>

      <form class="form" action="/my-research/project-scope-participant-consent-01" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "participantConsent",
          value: data["participantConsent"],
          fieldset: {
            legend: {
              text: "Will you seek consent from or on behalf of participants?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Consent will be obtained from or on behalf of all participants",
              text: "Consent will be obtained from or on behalf of all participants"
            },
            {
              value: "Consent will not be obtained from or on behalf of any participants",
              text: "Consent will not be obtained from or on behalf of any participants"
            },
            {
              value: "Consent will be obtained from or on behalf of participants in some situations",
              text: "Consent will be obtained from or on behalf of participants in some situations"
            },
            {
              value: "Consent has already been obtained from or on behalf of participants for use of their previously-collected data or human biological samples",
              text: "Consent has already been obtained from or on behalf of participants for use of their previously-collected data or human biological samples"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          {{ govukButton({
            text: "Save as draft",
            classes: "govuk-button--secondary",
            href: "/my-research"
          }) }}
        </div>
      </form>

    </div>
  </div>

{% endblock %}
