{% extends "layouts/main.html" %}

{% block pageTitle %}
  Scope your project requirements – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Scope your project requirements
      </h1>

      <form class="form" action="/my-research/project-scope-activities" method="post">


        {{ govukCheckboxes({
          name: 'participantGroups',
          values: data['participantGroups'],
          fieldset: {
            legend: {
              text: "Select which groups will participate or provide data or samples in this project."
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              value: "Carers, parents or legal guardians of patients or participants",
              text: "Carers, parents or legal guardians of patients or participants"
            },
            {
              value: "Healthy volunteers or controls",
              text: "Healthy volunteers or controls"
            },
            {
              value: "Members of the public",
              text: "Members of the public"
            },
            {
              value: "Patients or service users of NHS or HSC provided or commissioned services",
              text: "Patients or service users of NHS or HSC provided or commissioned services"
            },
            {
              value: "Patients or residents in care homes, independent health care clinics, nursing homes or residential care",
              text: "Patients or residents in care homes, independent health care clinics, nursing homes or residential care"
            },
            {
              value: "People who are known to be deceased prior to their inclusion in the project",
              text: "People who are known to be deceased prior to their inclusion in the project"
            },
            {
              value: "Patients or service users of NHS or HSC provided or commissioned services",
              text: "Patients or service users of NHS or HSC provided or commissioned services"
            },
            {
              value: "Service users in other social care settings",
              text: "Service users in other social care settings"
            },
            {
              value: "Staff working in NHS or HSC provided or commissioned services",
              text: "Staff working in NHS or HSC provided or commissioned services"
            },
            {
              value: "Staff working in other care settings",
              text: "Staff working in other care settings"
            },
            {
              value: "Other",
              text: "Other"
            }
          ]
        }) }}



        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          {{ govukButton({
            text: "Save as draft",
            classes: "govuk-button--secondary",
            href: "/my-research"
          }) }}
        </div>

      </form>
    </div>
  </div>

{% endblock %}
