{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Scope your project
      </h1>

      <form class="form" action="/my-research/project-scope-participant-consent-02" method="post">
        {{ govukCheckboxes({
          name: 'noConsent',
          values: data['noConsent'],
          fieldset: {
            legend: {
              text: "Select all the situations when consent or assent will not be obtained."
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              value: "for the use of non-identifiable patient or care data by the research team ",
              text: "for the use of non-identifiable patient or care data by the research team "
            },
            {
              value: "for access to identifiable patient or care data by the usual care team (including identification of potential participants)",
              text: "for access to identifiable patient or care data by the usual care team (including identification of potential participants)"
            },
            {
              value: "for access to identifiable patient or care data by people without an existing legal basis (including identification of potential participants)",
              text: "for access to identifiable patient or care data by people without an existing legal basis (including identification of potential participants)"
            },
            {
              value: "for the use of previously collected non-identifiable human biological samples",
              text: "for the use of previously collected non-identifiable human biological samples"
            },
            {
              value: "for the use of previously collected identifiable human biological samples without relevant consent for their use in this project",
              text: "for the use of previously collected identifiable human biological samples without relevant consent for their use in this project"
            },
            {
              value: "when adults do not have capacity to consent to their participation",
              text: "when adults do not have capacity to consent to their participation"
            },
            {
              value: "Other",
              text: "Other"
            }
          ]
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          {{ govukButton({
            text: "Save as draft",
            classes: "govuk-button--secondary",
            href: "/my-research"
          }) }}
        </div>
      </form>

    </div>
  </div>

{% endblock %}
