{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Scope your project
      </h1>

      <form class="form" action="/my-research/project-scope-hmpps" method="post">

      {{ govukRadios({
          classes: "govuk-radios",
          name: "isCapable",
          value: data["isCapable"],
          fieldset: {
            legend: {
              text: "When recruiting adult participants, what capacity will they have to consent to their participation?",
              classes: "govuk-fieldset__legend"
            }
          },
          items: [
            {
              value: "all adults will have capacity to consent for themselves as participants",
              text: "all adults will have capacity to consent for themselves as participants"
            },
            {
              value: "no adults will have capacity to consent for themselves as participants",
              text: "no adults will have capacity to consent for themselves as participants"
            },
            {
              value: "some adults may lack capacity to consent for themselves as participants",
              text: "some adults may lack capacity to consent for themselves as participants"
            }
          ]
        }) }}


        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          {{ govukButton({
            text: "Save as draft",
            classes: "govuk-button--secondary",
            href: "/my-research"
          }) }}
        </div>
      </form>

    </div>
  </div>

{% endblock %}
