{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ data['projectTitle'] or "Project title"}} – {{ serviceName }} – HRA Prototype
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
{% if errors and errors.length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ data['projectTitle'] or "Project title"}} Configuration
      </h1>

      <form method="post" novalidate>
      {{ govukRadios({
        idPrefix: "isHFEA",
        classes: "govuk-radios",
        name: "isHFEA",
        value: data["isHFEA"],
        fieldset: {
          legend: { text: "Will this project involve activities or data regulated by the Human Fertilisation and Embryology Authority (HFEA)?" }
        },
        errorMessage: errorMap and errorMap["isHFEA"],
        items: [
          { value: "regulated-activities", text: "Yes, activities regulated by HFEA" },
          { value: "register-data", text: "Yes, accessing data from the HFEA register" },
          { value: "no", text: "No" }
        ]
      }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          {{ govukButton({
            text: "Save for later",
            classes: "govuk-button--secondary",
            href: "/my-research"
          }) }}
        </div>
      </form>

    </div>
  </div>

{% endblock %}
