{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ data['projectTitle'] or "Project title"}} – {{ serviceName }} – HRA Prototype
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ data['projectTitle'] or "Project title"}} Configuration
    </h1>

    <form class="form" action="/my-research/project-scope-ctimp-01" method="post">

      {% set activity = data['researchActivities'] | list %}

      {% if "Treatment" in (activity | join(" ")) %}
        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "isCTIMP",
          value: (data['isCTIMP']),
          fieldset: {
            legend: {
              text: "Is this project a clinical trial of an investigational medicinal product (CTIMP)?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}
      {% endif %}


      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}

        {{ govukButton({
          text: "Save as draft",
          classes: "govuk-button--secondary",
          href: "/my-research"
        }) }}
      </div>
    </form>

  </div>
</div>

{% endblock %}
