{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Heading or question goes here
      </h1>

      <form class="form" action="/my-research/project-scope-hfea" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "isMOD",
          value: data["isMOD"],
          fieldset: {
            legend: {
              text: "Will this project involve any activity under the responsibility of the Ministry of Defence (MOD)?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          {{ govukButton({
            text: "Save as draft",
            classes: "govuk-button--secondary",
            href: "/my-research"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
