{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ data['projectTitle'] or "Project title"}} – {{ serviceName }} – HRA Prototype
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ data['projectTitle'] or "Project title"}} - Confidentiality
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "isDataOnly",
          value: data['isDataOnly'],
          fieldset: {
            legend: {
              text: "TIs this study limited to working with data only?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Finish"
          }) }}

          {{ govukButton({
            text: "Save as draft",
            classes: "govuk-button--secondary",
            href: "/project/start"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
