{% extends "layouts/main.html" %}
{% from "_partials/_question.html" import renderQuestion %}

{% block pageTitle %}
  {{ data['projectTitle'] or "Project title"}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ data['projectTitle'] or "Project title"}} - Project information
      </h1>

      <form class="form" action="/project/public-involvement" method="post">
        {{ renderQuestion(questions.protocolRef, data, errors, null, null, errorMap) }}

        {% set euctHtml %}
          {{ renderQuestion(questions.euctNumber, data, errors) }}
        {% endset -%}
        {{ renderQuestion(questions.euct, data, errors, null, euctHtml, errorMap) }}

        {{ renderQuestion(questions.projectSummary, data, errors, null, euctHtml, errorMap) }}

        {{ govukInsetText({
          html: "<p>This summary will be published on the Health Research Authority (HRA) website following approval.</p>"
        }) }}


        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          {{ govukButton({
            text: "Save for later",
            classes: "govuk-button--secondary",
            href: "/project/start"
          }) }}
        </div>
      </form>

    </div>
  </div>

{% endblock %}
