{% extends "layouts/main.html" %}
{% from "_partials/_question.html" import renderQuestion %}

{% block pageTitle %}
  {{ data['projectTitle'] or "Project title"}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ data['projectTitle'] or "Project title"}} - Public involvement
      </h1>

      <form class="form" action="/project/research-design" method="post">
        {{ renderQuestion(questions.involvedContributors, data, errors, null, null, errorMap) }}


          <!-- Will need routing to new page - Answered Q1 - Other -->
        {{ renderQuestion(questions.publicContributors, data, errors, null, null, errorMap) }}

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Guidance here?
            </span>
          </summary>
          <div class="govuk-details__text">
            "public contributors" refers to patients, carers, services users or members of the public
          </div>
        </details>


        <!-- Will need routing to new page - Answered Q1 - Patients, service users not involved -->
        {{ renderQuestion(questions.patientInsights, data, errors, null, null, errorMap) }}

          {{ govukDetails({
            summaryText: "Guidance here?",
            text: "guidance to refer to quality standards of PIS and wider programme of activity (eg pharma may do PPI on disease area in general to feed into this project but the PPI was not done specifically for this project)"
          }) }}

          <!-- Will need routing to new page - Answered Q1 - NOT 'Patients, service users not involved.'
          Also not 'Other' -->
        {{ renderQuestion(questions.identifyContributors, data, errors, null, null, errorMap) }}

        <!-- Will need routing to new page - Answered Q1 - Other -->
        {{ renderQuestion(questions.identifyContributorsOther, data, errors, null, null, errorMap) }}

        <!-- Will need routing to new page - Answered Q1 - All bar did not involve -->
        {{ renderQuestion(questions.contributorDetails, data, errors, null, null, errorMap) }}


        <!-- Will need routing to new page - Answered Q1 - All bar did not involve -->
        {{ renderQuestion(questions.importantContribution, data, errors, null, null, errorMap) }}

        <!-- No conditions -->
        {{ renderQuestion(questions.futureContribution, data, errors, null, null, errorMap) }}

        <!-- Will need routing to new page - Answered Q2 (but apparently 4?) - if other -->
        {{ renderQuestion(questions.futureContributionOther, data, errors, null, null, errorMap) }}

        <!-- Will need routing to new page - Answered Q2 (but apparently 4?) - if any bar no contribution -->
        {{ renderQuestion(questions.justifyContribution, data, errors, null, null, errorMap) }}

        <!-- Will need routing to new page - Answered Q2 (but apparently 4?) - if no contribution -->
        {{ renderQuestion(questions.justifyNoContribution, data, errors, null, null, errorMap) }}


        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          {{ govukButton({
            text: "Save for later",
            classes: "govuk-button--secondary",
            href: "/project/start"
          }) }}
        </div>
      </form>

    </div>
  </div>

{% endblock %}
