{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ data['projectTitle'] or "Project title"}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ data['projectTitle'] or "Project title"}} - Research activities
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

        <!-- If researchActivities includes clinical and/or non-clinical and/or treatments -->
        {{ govukCharacterCount({
          name: "imposterParticipant",
          id: "imposster-participant",
          value: data['imposterParticipant'],
          maxlength: 2000,
          label: {
            text: "What is the intervention or treatment being studied?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            html: "<ul>
              <li>
                provide the trade name, and brand name where relevant, of any device or medicine.
              </li>
              <li>
                for surgical, psychological or non-clinical interventions briefly describe the nature of the intervention
              </li>
              <li>
                if relevant, include details of any control arm
              </li>
              </ul>"
          }
        }) }}


        <!-- If CTIMP == Yes -->
        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "firstInHuman",
          value: data['firstInHuman'],
          fieldset: {
            legend: {
              text: "Is this treatment first-in-human?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        <!-- If researchActivities == clinical OR treatments AND participants == NHS patients/services, nursing home residents -->

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "delayTreatment",
          value: data['delayTreatment'],
          fieldset: {
            legend: {
              text: "Does your project involve a change or a delay to patients’ standard treatment or care?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}


        <!-- If researchActivities INCLUDES treatment, but do not show if compareIntervention/goldIntervention == yes -->


        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "compareStandard",
          value: data['compareStandard'],
          fieldset: {
            legend: {
              text: "Are any of the treatments in this project being compared to standard care?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}


        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Guidance here?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>
              explain that asking this because if standard care changes in future we want to know what they are going to do about it (in the next question)
            </p>
          </div>
        </details>


        <!-- Conditional on something related to care, but not clear (Q4 in spreadsheet) -->
        {{ govukCharacterCount({
          name: "imposterParticipant",
          id: "impoaster-participant",
          value: data['imposterParticipant'],
          maxlength: 2000,
          label: {
            text: "Describe what arrangements you will put in place to address any changes in standard care during the project, for example resulting from new guidance from the National Institute for Health and Care Excellence (NICE).",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            text: ""
          }
        }) }}

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Guidance here?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>
              eg Explain if the Steering Committee Terms of Reference will include review of changes to standard of care - need details where intervention is in addition to standard of care
            </p>
          </div>
        </details>


        <!-- If participants = non-clinical interviews -->
        {{ govukCheckboxes({
          name: "questionnaireType",
          value: data['questionnaireType'],
          fieldset: {
            legend: {
              text: "What type of questionnaires are you using in this project?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              value: "use of validated questionnaires within their intended purpose and intended population",
              text: "use of validated questionnaires within their intended purpose and intended population"
            },
            {
              value: "use of validated questionnaires outside of their intended purpose and population",
              text: "use of validated questionnaires outside of their intended purpose and population"
            },
            {
              value: "use of non-validated questionnaires",
              text: "use of non-validated questionnaires"
            },
            {
              value: "no questionnaires included in project",
              text: "no questionnaires included in project"
            }
          ]
        }) }}


        <!-- If researchActivities == Non-clinical interviews -->

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "sensitiveTopic",
          value: data['sensitiveTopic'],
          fieldset: {
            legend: {
              text: "Is it possible that any interviews, questionnaires or group discussions include topics that might be sensitive, embarrassing or upsetting?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        <!-- If researchActivities == Non-clinical interviews -->

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "seriousDisclosure",
          value: data['seriousDisclosure'],
          fieldset: {
            legend: {
              text: "Is it possible that any conversations, interviews, questionnaires or group discussions include topics that might result in criminal or other serious disclosures? ",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        <!-- If seriousDisclosure == Yes -->
        {{ govukCharacterCount({
          name: "imposterParticipant",
          id: "impoaster-participant",
          value: data['imposterParticipant'],
          maxlength: 5000,
          label: {
            text: "Explain how any requirement for criminal or other disclosures will be dealt with in line with legal obligations, safeguarding arrangements and professional procedures and guidance.",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            text: ""
          }
        }) }}

        <!-- Always display -->
        {{ govukCharacterCount({
          name: "societyBenefits",
          id: "society-benefits",
          value: data['societyBenefits'],
          maxlength: 5000,
          label: {
            text: "What are the potential benefits for participants and society",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            text: ""
          }
        }) }}


        <p>
          Describe the potential safety concerns, risks and burdens in the project and how you will minimise these.
          </p>

          <!-- if researchActivities == clinical or non-clinical interviews or treatment -->
          {{ govukCharacterCount({
            name: "sideEffects",
            id: "side-effects",
            value: data['sideEffects'],
            maxlength: 5000,
            label: {
              text: "Any risks, side-effects or burdens of any research activities or monitoring of participants:",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            hint: {
              text: ""
            }
          }) }}



          <!-- if delayTreatment == Yes -->
          {{ govukCharacterCount({
            name: "riskDelayTreatment",
            id: "risk-delay-treatment",
            value: data['riskDelayTreatment'],
            maxlength: 5000,
            label: {
              text: "Any risks due to a change or delay to standard treatment or care:",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            hint: {
              text: ""
            }
          }) }}

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Guidance here?
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>
                give example of 'washout period' - this would be change of standard treatment or care
              </p>
            </div>
          </details>

          <!-- if sensitiveTopic == Yes -->
          {{ govukCharacterCount({
            name: "riskSensitiveTreatment",
            id: "risk-sensitive-treatment",
            value: data['riskSensitiveTreatment'],
            maxlength: 5000,
            label: {
              text: "Any risk or burden due to interviews, questionnaires or group discussions that include topics that might be sensitive, embarrassing or upsetting:",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            hint: {
              text: ""
            }
          }) }}

          <!-- If researchActivities == Treatment -->

          {{ govukRadios({
            classes: "govuk-radios--inline",
            name: "informGP",
            value: data['informGP'],
            fieldset: {
              legend: {
                text: "Will you inform the participants’ General Practitioners (or any other health or care professional responsible for their care) that they are taking part in the study?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: ""
            },
            items: [
              {
                value: "Yes",
                text: "Yes"
              },
              {
                value: "No",
                text: "No"
              }
            ]
          }) }}


          <!-- if informGP == Yes -->
          {{ govukCharacterCount({
            name: "whenInformGP",
            id: "when-inform-gp",
            value: data['whenInformGP'],
            maxlength: 2000,
            label: {
              text: "Explain the circumstances when you will contact General Practitioners or other responsible health or care professionals about a participant. What will you tell participants about this?",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            hint: {
              text: ""
            }
          }) }}



          <!-- If researchActivities == Treatment -->

          {{ govukRadios({
            classes: "govuk-radios",
            name: "continueTreatment",
            value: data['continueTreatment'],
            fieldset: {
              legend: {
                text: "What will happen with treatment after the project has finished?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: ""
            },
            items: [
              {
                value: "Treatment will continue to be provided once the project has finished",
                text: "Treatment will continue to be provided once the project has finished"
              },
              {
                value: "Treatment will not continue to be provided once the project has finished",
                text: "Treatment will not continue to be provided once the project has finished"
              }
            ]
          }) }}

          <!-- if continueTreatment == Yes -->
          {{ govukCharacterCount({
            name: "continueTreatmentYes",
            id: "continue-treatment-yes",
            value: data['continueTreatmentYes'],
            maxlength: 2000,
            label: {
              text: "Describe all the arrangements for continuued provision of treatment after the project has finished, including funding. Give details of the parties that have agreed these arrangements.",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            hint: {
              text: ""
            }
          }) }}


          <!-- if continueTreatment == No -->
          {{ govukCharacterCount({
            name: "continueTreatmentNo",
            id: "continue-treatment-no",
            value: data['continueTreatmentNo'],
            maxlength: 2000,
            label: {
              text: "Describe the care arrangements after the project has finished.  Justify these arrangements",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            hint: {
              text: ""
            }
          }) }}

          <!-- Always show -->
          {{ govukDateInput({
            id: "finish-data-collection",
            namePrefix: "finishDataCollection",
            value: data['finishDataCollection'],
            fieldset: {
              legend: {
                text: "When do you plan to finish collecting data for this project in the UK?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "For example, 27 3 2007"
            }
          }) }}


        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          {{ govukButton({
            text: "Save as draft",
            classes: "govuk-button--secondary",
            href: "/project/start"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
