{% extends "layouts/main.html" %}

{% block pageTitle %}
  Project overview – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ data['project-title'] or "Project" }} overview
      </h1>

      <!-- <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application not started</h2>-->
      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

      {{ govukInsetText({
        html: '<strong>IRAS ID:</strong> {generated ID} <br />
        <strong>Short project title:</strong> ASSESS-meso <br />
        <strong>Project phase:</strong> Build'
      }) }}
    </div>
    <div class="govuk-grid-column-one-third" style="text-align: right;">
      <strong class="govuk-tag">
        Draft
      </strong>
    </div>
    <div class="govuk-grid-column-full">
      {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

      {{ mojSubNavigation({
        label: "Sub navigation",
        items: [{
          text: "Project details",
          href: "#1",
          active: true
        }, {
          text: "Project team",
          href: "#2"
        }, {
          text: "Project sponsor",
          href: "#3"
        }, {
          text: "Research location(s)",
          href: "#4"
        }, {
          text: "Project documents",
          href: "#5"
        }, {
          text: "Project history",
          href: "#6"
        }
        ]
      }) }}


        <div class="govuk-tabs__panel" id="1">
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Project reference"
                },
                value: {
                  text: data['projectReference']
                }
              },
              {
                key: {
                  text: "Short project title"
                },
                value: {
                  text: data['projectTitle']
                }
              },
              {
                key: {
                  text: "Full project title"
                },
                value: {
                  text: data['fullProjectTitle']
                }
              }
            ]
          }) }}

          <div class="">
            <h2 class="govuk-heading-m">Approval pathways</h2>
            {% include "includes/approvals-pathway.njk" %}

          </div>

          <div class="">
            <h2 class="govuk-heading-m">Project building blocks</h2>
            {{ govukTable({
              caption: "",
              head: [
                {
                  text: "Project block"
                },
                {
                  text: "Status"
                },
                {
                  text: "Owner"
                },
                {
                  text: " "
                },
                {
                  text: "Progress"
                }
              ],
              rows: [
                [
                  {
                    html: '<a href="/project/project-information">Project information</a>'
                  },
                  {
                    html: '<strong class="govuk-tag">Not started</strong>'
                  },
                  {
                    text: "Applicant name"
                  },
                  {
                    html: '<a href="#">Reassign</a>'
                  },
                  {
                    text: "0/1"
                  }
                ],
                [
                  {
                    html: '<a href="/project/public-involvement">Public involvement</a>'
                  },
                  {
                    html: '<strong class="govuk-tag">Not started</strong>'
                  },
                  {
                    text: "Applicant name"
                  },
                  {
                    html: '<a href="#">Reassign</a>'
                  },
                  {
                    text: "0/3"
                  }
                ],
                [
                  {
                    html: '<a href="/project/research-design">Research design and methodology</a>'
                  },
                  {
                    html: '<strong class="govuk-tag">Not started</strong>'
                  },
                  {
                    text: "Applicant name"
                  },
                  {
                    html: '<a href="#">Reassign</a>'
                  },
                  {
                    text: "0/7"
                  }
                ],
                [
                  {
                    html: '<a href="/project/participants">Participants</a>'
                  },
                  {
                    html: '<strong class="govuk-tag">Not started</strong>'
                  },
                  {
                    text: "Applicant name"
                  },
                  {
                    html: '<a href="#">Reassign</a>'
                  },
                  {
                    text: "0/3"
                  }
                ],
                [
                  {
                    html: '<a href="/project/research-activities">Research activities</a>'
                  },
                  {
                    html: '<strong class="govuk-tag">Not started</strong>'
                  },
                  {
                    text: "Applicant name"
                  },
                  {
                    html: '<a href="#">Reassign</a>'
                  },
                  {
                    text: "0/5"
                  }
                ],
                [
                  {
                    html: '<a href="/project/consent">Consent</a>'
                  },
                  {
                    html: '<strong class="govuk-tag">Not started</strong>'
                  },
                  {
                    text: "Applicant name"
                  },
                  {
                    html: '<a href="#">Reassign</a>'
                  },
                  {
                    text: "0/1"
                  }
                ],
                [
                  {
                    html: '<a href="/project/risks-and-conflicts">Risks and conflicts of interest</a>'
                  },
                  {
                    html: '<strong class="govuk-tag">Not started</strong>'
                  },
                  {
                    text: "Applicant name"
                  },
                  {
                    html: '<a href="#">Reassign</a>'
                  },
                  {
                    text: "0/3"
                  }
                ],
                [
                  {
                    html: '<a href="/project/ethical-issues">Summary of ethical issues</a>'
                  },
                  {
                    html: '<strong class="govuk-tag">Not started</strong>'
                  },
                  {
                    text: "Applicant name"
                  },
                  {
                    html: '<a href="#">Reassign</a>'
                  },
                  {
                    text: "0/5"
                  }
                ],
                [
                  {
                    html: '<a href="/project/research-analysis">Research analysis</a>'
                  },
                  {
                    html: '<strong class="govuk-tag">Not started</strong>'
                  },
                  {
                    text: "Applicant name"
                  },
                  {
                    html: '<a href="#">Reassign</a>'
                  },
                  {
                    text: "0/4"
                  }
                ],
                [
                  {
                    html: '<a href="/project/governance">Governance and management</a>'
                  },
                  {
                    html: '<strong class="govuk-tag">Not started</strong>'
                  },
                  {
                    text: "Applicant name"
                  },
                  {
                    html: '<a href="#">Reassign</a>'
                  },
                  {
                    text: "0/4"
                  }
                ],
                [
                  {
                    html: '<a href="/project/tansparency">Transparency</a>'
                  },
                  {
                    html: '<strong class="govuk-tag">Not started</strong>'
                  },
                  {
                    text: "Applicant name"
                  },
                  {
                    html: '<a href="#">Reassign</a>'
                  },
                  {
                    text: "0/3"
                  }
                ],
                [
                  {
                    html: '<a href="/project/confidentiality">Confidentiality</a>'
                  },
                  {
                    html: '<strong class="govuk-tag">Not started</strong>'
                  },
                  {
                    text: "Applicant name"
                  },
                  {
                    html: '<a href="#">Reassign</a>'
                  },
                  {
                    text: "0/2 parts"
                  }
                ]
              ]
            }) }}
          </div>

          <div class="">
              <h2 class="govuk-heading-m">Project builder</h2>
              <p>
                To reconfigure your study revisit the project builder here.
              </p>
              {{ govukButton({
                text: "Reconfigure",
                href: "/my-research/project-scope-participants"
              }) }}
          </div>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="2">
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="3">
          {{ govukTable({
            attributes: {
              "data-module": "moj-sortable-table"
            },
            caption: "",
            head: [
              {
                text: "Document type",
                attributes: {
                  "aria-sort": "ascending"
                }
              },
              {
                text: "Document name",
                attributes: {
                  "aria-sort": "none"
                }
              },
              {
                text: "File name",
                attributes: {
                  "aria-sort": "none"
                }
              },
              {
                text: "Document version",
                attributes: {
                  "aria-sort": "none"
                },
                format: "numeric"
              },
              {
                text: "Document date",
                attributes: {
                  "aria-sort": "none"
                },
                format: "numeric"
              },
              {
                text: "Actionn",
                attributes: {
                  "aria-sort": "none"
                },
                format: "numeric"
              }
            ],
            rows: [
              [
                {
                  text: "Protocol"
                },
                {
                  text: "ASSESS-meso Protocol"
                },
                {
                  text: "ASSESS-meso-Protocol02.doc"
                },
                {
                  text: "AM1234567"
                },
                {
                  text: "4 June 2025"
                },
                {
                  text: "View details"
                }
              ]
            ]
          }) }}
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="4">
          {{ govukSummaryList({
            card: {
              title: {
                text: "History"
              }
            },
            rows: [
              {
                key: {
                  text: "Dummy content"
                },
                value: {
                  text: "Dummy content"
                }
              },
              {
                key: {
                  text: "Dummy content"
                },
                value: {
                  text: 'Dummy content'
                }
              },
              {
                key: {
                  text: "Dummy content"
                },
                value: {
                  text: 'Dummy content'
                }
              }
            ]
          }) }}
        </div>
      </div>

    </div>

  </div>

{% endblock %}
