{% extends "layouts/main.html" %}

{% block pageTitle %}
  Project overview – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ data['project-title'] or "Project" }} overview
      </h1>

      <!-- <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application not started</h2>-->
      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

      {{ govukInsetText({
        html: '<strong>Project reference:</strong> '+ data.projectReference +' <br />
        <strong>Short project title:</strong>'+ data.projectTitle +'<br />
        <strong>Project phase:</strong> {Build}/{Assurances and reviews}/{Live}/{Modifications}/{Withdrawn}/{Ended}<br />
        <strong>Status:</strong> A reusable, global status'
      }) }}
    </div>
    <div class="govuk-grid-column-one-third" style="text-align: right;">
      <strong class="govuk-tag">
        Draft
      </strong>
    </div>
    <div class="govuk-grid-column-full">
      {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

      {{ mojSubNavigation({
        label: "Sub navigation",
        items: [{
          text: "Project details",
          href: "#1",
          active: true
        }, {
          text: "Project team",
          href: "#2"
        }, {
          text: "Project sponsor",
          href: "#3"
        }, {
          text: "Research location(s)",
          href: "#4"
        }, {
          text: "Project documents",
          href: "#5"
        }, {
          text: "Project history",
          href: "#6"
        }
        ]
      }) }}


        <div class="govuk-tabs__panel" id="1">
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Project reference"
                },
                value: {
                  text: data['projectReference']
                }
              },
              {
                key: {
                  text: "Short project title"
                },
                value: {
                  text: data['projectTitle']
                }
              },
              {
                key: {
                  text: "Full project title"
                },
                value: {
                  text: data['fullProjectTitle']
                }
              }
            ]
          }) }}

          <div class="">
            <h2 class="govuk-heading-m">Approval pathways</h2>
            {% include "includes/approvals-pathway.njk" %}

          </div>

          <div class="">
            <h2 class="govuk-heading-m">Project building blocks</h2>
            {{ govukTable({
              caption: "",
              head: [
                {
                  text: "Project block"
                },
                {
                  text: "Status"
                },
                {
                  text: "Owner"
                },
                {
                  text: " "
                },
                {
                  text: "Progress"
                }
              ],
              rows: [
                [
                  {
                    html: '<a href="/project/project-information">Project information</a>'
                  },
                  {
                    html: '<strong class="govuk-tag">Not started</strong>'
                  },
                  {
                    text: "Applicant name"
                  },
                  {
                    html: '<a href="#">Reassign</a>'
                  },
                  {
                    text: "0/1"
                  }
                ],
                [
                  {
                    html: '<a href="/project/public-involvement">Public involvement</a>'
                  },
                  {
                    html: '<strong class="govuk-tag">Not started</strong>'
                  },
                  {
                    text: "Applicant name"
                  },
                  {
                    html: '<a href="#">Reassign</a>'
                  },
                  {
                    text: "0/3"
                  }
                ],
                [
                  {
                    html: '<a href="/project/research-design">Research design and methodology</a>'
                  },
                  {
                    html: '<strong class="govuk-tag">Not started</strong>'
                  },
                  {
                    text: "Applicant name"
                  },
                  {
                    html: '<a href="#">Reassign</a>'
                  },
                  {
                    text: "0/7"
                  }
                ],
                [
                  {
                    html: '<a href="/project/participants">Participants</a>'
                  },
                  {
                    html: '<strong class="govuk-tag">Not started</strong>'
                  },
                  {
                    text: "Applicant name"
                  },
                  {
                    html: '<a href="#">Reassign</a>'
                  },
                  {
                    text: "0/3"
                  }
                ],
                [
                  {
                    html: '<a href="/project/research-activities">Research activities</a>'
                  },
                  {
                    html: '<strong class="govuk-tag">Not started</strong>'
                  },
                  {
                    text: "Applicant name"
                  },
                  {
                    html: '<a href="#">Reassign</a>'
                  },
                  {
                    text: "0/5"
                  }
                ],
                [
                  {
                    html: '<a href="/project/consent">Consent</a>'
                  },
                  {
                    html: '<strong class="govuk-tag">Not started</strong>'
                  },
                  {
                    text: "Applicant name"
                  },
                  {
                    html: '<a href="#">Reassign</a>'
                  },
                  {
                    text: "0/1"
                  }
                ],
                [
                  {
                    html: '<a href="/project/risks-and-conflicts">Risks and conflicts of interest</a>'
                  },
                  {
                    html: '<strong class="govuk-tag">Not started</strong>'
                  },
                  {
                    text: "Applicant name"
                  },
                  {
                    html: '<a href="#">Reassign</a>'
                  },
                  {
                    text: "0/3"
                  }
                ],
                [
                  {
                    html: '<a href="/project/ethical-issues">Summary of ethical issues</a>'
                  },
                  {
                    html: '<strong class="govuk-tag">Not started</strong>'
                  },
                  {
                    text: "Applicant name"
                  },
                  {
                    html: '<a href="#">Reassign</a>'
                  },
                  {
                    text: "0/5"
                  }
                ],
                [
                  {
                    html: '<a href="/project/research-analysis">Research analysis</a>'
                  },
                  {
                    html: '<strong class="govuk-tag">Not started</strong>'
                  },
                  {
                    text: "Applicant name"
                  },
                  {
                    html: '<a href="#">Reassign</a>'
                  },
                  {
                    text: "0/4"
                  }
                ],
                [
                  {
                    html: '<a href="/project/governance">Governance and management</a>'
                  },
                  {
                    html: '<strong class="govuk-tag">Not started</strong>'
                  },
                  {
                    text: "Applicant name"
                  },
                  {
                    html: '<a href="#">Reassign</a>'
                  },
                  {
                    text: "0/4"
                  }
                ],
                [
                  {
                    html: '<a href="/project/tansparency">Transparency</a>'
                  },
                  {
                    html: '<strong class="govuk-tag">Not started</strong>'
                  },
                  {
                    text: "Applicant name"
                  },
                  {
                    html: '<a href="#">Reassign</a>'
                  },
                  {
                    text: "0/3"
                  }
                ],
                [
                  {
                    html: '<a href="/project/confidentiality">Confidentiality</a>'
                  },
                  {
                    html: '<strong class="govuk-tag">Not started</strong>'
                  },
                  {
                    text: "Applicant name"
                  },
                  {
                    html: '<a href="#">Reassign</a>'
                  },
                  {
                    text: "0/2 parts"
                  }
                ]
              ]
            }) }}
          </div>

          <div class="">
              <h2 class="govuk-heading-m">Project builder</h2>
              <p>
                To reconfigure your study revisit the project builder here.
              </p>
              {{ govukButton({
                text: "Reconfigure",
                href: "/my-research/project-scope-participants"
              }) }}
          </div>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="2">
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="3">
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="4">
          {{ govukSummaryList({
            card: {
              title: {
                text: "History"
              }
            },
            rows: [
              {
                key: {
                  text: "Dummy content"
                },
                value: {
                  text: "Dummy content"
                }
              },
              {
                key: {
                  text: "Dummy content"
                },
                value: {
                  text: 'Dummy content'
                }
              },
              {
                key: {
                  text: "Dummy content"
                },
                value: {
                  text: 'Dummy content'
                }
              }
            ]
          }) }}
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="5">
          {{ govukTable({
            attributes: {
              "data-module": "moj-sortable-table"
            },
            caption: "",
            head: [
              {
                text: "Document type",
                attributes: {
                  "aria-sort": "ascending"
                }
              },
              {
                text: "Document name",
                attributes: {
                  "aria-sort": "none"
                }
              },
              {
                text: "File name",
                attributes: {
                  "aria-sort": "none"
                }
              },
              {
                text: "Document version",
                attributes: {
                  "aria-sort": "none"
                },
                format: "numeric"
              },
              {
                text: "Document date",
                attributes: {
                  "aria-sort": "none"
                },
                format: "numeric"
              },
              {
                text: "Actionn",
                attributes: {
                  "aria-sort": "none"
                },
                format: "numeric"
              }
            ],
            rows: [
              [
                {
                  text: "Protocol"
                },
                {
                  text: "ASSESS-meso Protocol"
                },
                {
                  text: "ASSESS-meso-Protocol02.doc"
                },
                {
                  text: "AM1234567"
                },
                {
                  text: "4 June 2025"
                },
                {
                  text: "View details"
                }
              ]
            ]
          }) }}
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="6">
          {%- from "moj/components/timeline/macro.njk" import mojTimeline -%}
          {%- set confirmationHtml %}
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non felis risus. Curabitur nec ante vitae felis ullamcorper tincidunt.</p>
          <a class="govuk-button govuk-!-margin-bottom-0" href="#">Continue</a>
          {% endset -%}

          {%- set detailsHtml %}
          <details class="govuk-details govuk-!-margin-bottom-0">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Application details
            </span>
          </summary>
          <div class="govuk-details__text">
            Ut quam nunc, vulputate ac metus pharetra, posuere maximus velit. <a class="govuk-link" href="#">Etiam nec interdum velit.</a> Suspendisse molestie lectus in eros ornare
          </div>
          </details>
          {% endset -%}

          {%- set listHtml %}
          <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="#">Item 1</a></li>
            <li><a class="govuk-link" href="#">Item 2</a></li>
          </ul>
          {% endset -%}

          {%- set documentsHtml %}
          <ul class="moj-timeline__documents">
            <li class="moj-timeline__document-item">
              <a class="govuk-link" href="#">
                <svg class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" width="20" height="16">
                  <path d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z"/>
                </svg>
                Document 1
              </a>
            </li>
            <li class="moj-timeline__document-item">
              <a class="govuk-link" href="#">
                <svg class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" width="20" height="16">
                  <path d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z"/>
                </svg>
                Document 2
              </a>
            </li>
          </ul>
          {% endset -%}

          {{ mojTimeline({
          items: [
            {
              label: {
                text: "Application requires confirmation"
              },
              html: confirmationHtml,
              datetime: {
                timestamp: "2019-06-14T14:01:00.000Z",
                type: "datetime"
              },
              byline: {
                text: "Joe Bloggs"
              }
            },
            {
              label: {
                text:  "Application review in progress"
              },
              text: "Your application is being reviewed by one of our case workers.",
              datetime: {
                timestamp: "2019-06-07T12:32:00.000Z",
                type: "datetime"
              },
              byline: {
                text: "Caseworker 1"
              }
            },
            {
              label: {
                text:  "Application received"
              },
              text: "Your application has been received – reference MOJ-1234-5678",
              datetime: {
                timestamp: "2019-06-06T09:12:00.000Z",
                type: "datetime"
              },
              byline: {
                text: "Caseworker 1"
              }
            },
            {
              label: {
                text:  "Application submitted"
              },
              html: detailsHtml,
              datetime: {
                timestamp: "2019-05-28T10:45:00.000Z",
                type: "datetime"
              },
              byline: {
                text: "Joe Bloggs"
              }
            },
            {
              label: {
                text:  "Documents uploaded"
              },
              html: documentsHtml,
              datetime: {
                timestamp: "2019-05-28T10:15:00.000Z",
                type: "datetime"
              },
              byline: {
                text: "Joe Bloggs"
              }
            },
            {
              label: {
                text:  "Application started"
              },
              html: listHtml,
              datetime: {
                timestamp: "2019-05-21T13:15:00.000Z",
                type: "datetime"
              },
              byline: {
                text: "Joe Bloggs"
              }
            }
          ]
          }) }}

        </div>
      </div>

    </div>

  </div>

{% endblock %}
