{% extends "layouts/main.html" %}
{% from "_partials/_question.html" import renderAnswers %}

{% block pageTitle %}
  Check your answers – Public involvement – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Check your answers</h1>

      <p>Some sort of paragraph to explain what happens next</p>

      {{ renderAnswers([
        questions.involvedContributors,
        questions.publicContributors,
        questions.identifyContributors,
        questions.identifyContributorsOther,
        questions.contributorDetails,
        questions.importantContribution,
        questions.futureContribution,
        questions.futureContributionOther,
        questions.justifyContribution,
        questions.justifyNoContribution
      ], data, "/public-involvement/") }}

      <form action="/project/start01" method="post">
        {{ govukButton({ text: "Confirm and continue" }) }}
      </form>

    </div>
  </div>
{% endblock %}
