{%- extends "layouts/main.html" -%}
{%- from "_partials/_question.html" import renderAnswers -%}

{%- block pageTitle -%}
  Check your answers – Public involvement – {{ serviceName }} – GOV.UK Prototype Kit
{%- endblock -%}

{%- block beforeContent -%}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{%- endblock -%}

{%- block content -%}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Check your answers</h1>
      <h2 class="govuk-heading-m">Public involvement</h2>

  {{ renderAnswers([
    questions.tbc001,
    questions.tbc002,
    questions.tbc003,
    questions.tbc004,
    questions.tbc005,
    questions.tbc006
  ], data, "/project/public-involvement/") }}

      <form action="/project/start01" method="post">
        <div class="govuk-button-group">
          {{ govukButton({ text: "Confirm and continue" }) }}
        </div>
      </form>

    </div>
  </div>
{%- endblock -%}
