{% extends "layouts/main.html" %}

{% block pageTitle %}
  Public involvement in health and social care research – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Public involvement in health and social care research
      </h1>

      <p>
        Patient and public invovlement is where research is carried out 'with' or 'by' members of the public — such as patients, people with lived expierence, carers, advocates, service users or members of the community - rather than 'to', 'about' or 'for' them. These individuals work in partnership with researchers, shaping what research takes place, how it is carried out, an dhow the results are shared and applied in practice.
      </p>
      <p>
        Patient and public involvement is important and possible in all research, from laboratories to communities, and research into health and social care. Patient and public involvement is an essential part of research and has been shown to improve its quality, impact, and the outcome for patients. It matters to funders and to others such as Research Ethics Committees. Research that includes people with lived experience is more relevant, acceptable, and better communicated. Excellent involvement is inclusive, values all contributions, and ensures people have a meaningful influence. We support the <a href="#">UK Standards for Public Involvement</a> and expect that these will be considered throughout research projects.
      </p>
      <p>
        Patient and public involvement is not the same as:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          Engagement: by engagement, we mean where research and people connect, breaking down barriers and sharing information, for example, through open days or sharing a blog on social media
        </li>
        <li>
          Participation: where people take part in a study as participants, for exmaple, completing a survey or being part of a clinical trial
        </li>
      </ul>
      <p>
        Please use plain English and non-technical language when completing this section of the application form.
      </p>

      {{ govukButton({
        text: "Continue",
        href: "/project/public-involvement/tbc001"
      }) }}
    </div>
  </div>

{% endblock %}
