{%- extends "layouts/main.html" -%}
{%- from "_partials/_question.html" import renderAnswers -%}

{%- block pageTitle -%}
  Check your answers – Confidentiality and information governance – {{ serviceName }} – GOV.UK Prototype Kit
{%- endblock -%}

{%- block beforeContent -%}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{%- endblock -%}

{%- block content -%}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Check your answers</h1>
      <h2 class="govuk-heading-m">Confidentiality and information governance</h2>

  {{ renderAnswers([
    questions.iqa0251,
  ], data, "/project/confidentiality/") }}

      <form action="/project/confidentiality/check-complete" method="post">
        <div class="govuk-button-group">
          {{ govukButton({ text: "Confirm and continue" }) }}
          <a class="govuk-link" href="/project/start">Save and come back later</a>
        </div>
      </form>

    </div>
  </div>
{%- endblock -%}
