{%- extends "layouts/main.html" -%}
{%- from "_partials/_question.html" import renderAnswers -%}

{%- block pageTitle -%}
  Check your answers – Governance and management – {{ serviceName }} – GOV.UK Prototype Kit
{%- endblock -%}

{%- block beforeContent -%}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{%- endblock -%}

{%- block content -%}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Check your answers</h1>
      <h2 class="govuk-heading-m">Governance and management</h2>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

  {{ renderAnswers([
    questions.iqa0142,
    questions.iqa0139,
    questions.iqa0140,
    questions.iqa0143,
    questions.iqa0147,
    questions.iqa0148,
    questions.iqa0149,
    questions.iqa0150,
    questions.iqa0151,
    questions.iqa0152,
    questions.iqa0153,
    questions.iqa0154,
    questions.iqa0155,
    questions.iqa0156,
    questions.iqa0157,
    questions.iqa0158,
    questions.iqa0325
  ], data, "/project/governance/") }}
</div>
</div>
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

      <form action="/project/governance/check-complete method="post">
        <div class="govuk-button-group">
          <h3 class="govuk-heading-m">Before you move on</h3>
          <p>Please <a class="govuk-link" href="/admin/export/governance.csv">Download your answers (CSV)</a> and complete the <a href="https://forms.office.com/e/Wpd3ZuySgC" target=_blank">evaluation survey (opens in a new tab)</a> before continuing
          </p>
          {{ govukButton({ text: "Confirm and continue" }) }}
        </div>
      </form>

    </div>
  </div>
{%- endblock -%}
