{% extends "layouts/main.html" %}

{% block pageTitle %}
  Governance – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Governance
      </h1>
      <p>This section contains questions about how this project will be managed.</p>
      <p>We’ll ask you about:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>which non-UK countries the research is taking place in</li>
          <li>monitoring, auditing and safety review arrangements</li>
          <li>insurance and indemnity arrangements</li>
          <li>site management responsibilities</li>
      </ul>
      <p>All questions are mandatory unless marked as optional.</p>
      <p>You don’t have to answer all these questions in one session – you can save and come back later if you need to.</p>


      {{ govukButton({
        text: "Continue",
        href: "/project/governance/iqa0142"
      }) }}
    </div>
  </div>

{% endblock %}
