{% extends "layouts/main.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">
    All questions in the filter
  </h1>
  <form class="form" action="/my-research/project-scope-activities" method="post">
    <ol class="govuk-list govuk-list--number">
      <li>
        <h2 class="govuk-heading-m">Participant groups</h2>
          {{ govukCheckboxes({
            name: 'participantGroups',
            values: data['participantGroups'],
            fieldset: {
              legend: {
                text: "Select which groups will participate or provide data or samples in this project."
              }
            },
            hint: {
              text: "Select all that apply"
            },
            items: [
              {
                value: "Carers, parents or legal guardians of patients or participants",
                text: "Carers, parents or legal guardians of patients or participants"
              },
              {
                value: "Healthy volunteers or controls",
                text: "Healthy volunteers or controls"
              },
              {
                value: "Members of the public",
                text: "Members of the public"
              },
              {
                value: "Patients or service users of NHS or HSC provided or commissioned services",
                text: "Patients or service users of NHS or HSC provided or commissioned services"
              },
              {
                value: "Patients or residents in care homes, independent health care clinics, nursing homes or residential care",
                text: "Patients or residents in care homes, independent health care clinics, nursing homes or residential care"
              },
              {
                value: "People who are known to be deceased prior to their inclusion in the project",
                text: "People who are known to be deceased prior to their inclusion in the project"
              },
              {
                value: "Service users in other social care settings",
                text: "Service users in other social care settings"
              },
              {
                value: "Staff working in NHS or HSC provided or commissioned services",
                text: "Staff working in NHS or HSC provided or commissioned services"
              },
              {
                value: "Staff working in other care settings",
                text: "Staff working in other care settings"
              },
              {
                value: "Other",
                text: "Other"
              }
            ]
          }) }}
      </li>
      <li>
        <h2 class="govuk-heading-m">Research activities</h2>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="researchActivities-hint">
              <legend class="govuk-fieldset__legend">
                Select which activities will be involved in this project
              </legend>
              <div id="researchActivities-id" class="govuk-hint">
                Select all that apply
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="previouslyCollected" name="researchActivities" type="checkbox" value="Use of previously collected data about people">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    Use of previously collected data about people
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="previouslyCollected-2" name="researchActivities" type="checkbox" value="Use of previously collected human biological samples">
                  <label class="govuk-label govuk-checkboxes__label" for="previouslyCollected-2">
                    Use of previously collected human biological samples
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nonClinicalStaff" name="researchActivities" type="checkbox" value="Non-clinical activies with staff, such as interviews, questionnaires and observations">
                  <label class="govuk-label govuk-checkboxes__label" for="nonClinicalStaff">
                    Non-clinical activies with staff, such as interviews, questionnaires and observations
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nonClinicalSurvey" name="researchActivities" type="checkbox" value="Non-clinical activities with people, such as interviews or surveys">
                  <label class="govuk-label govuk-checkboxes__label" for="nonClinicalSurvey">
                    Non-clinical activities with people, such as interviews or surveys
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nonClinicalProcedure" name="researchActivities" type="checkbox" value="Non-clinical activities with people, such as non-clinical assessments, observations or care procedures">
                  <label class="govuk-label govuk-checkboxes__label" for="nonClinicalProcedure">
                    Non-clinical activities with people, such as non-clinical assessments, observations or care procedures
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="clinicalActivities" name="researchActivities" type="checkbox" value="Clinical activities with people, such as collecting human biological samples, imaging investigations or diagnostics">
                  <label class="govuk-label govuk-checkboxes__label" for="clinicalActivities">
                    Clinical activities with people, such as collecting human biological samples, imaging investigations or diagnostics
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nonClinicalStaff" name="researchActivities" type="checkbox" value="Treatment, such as medicines, devices, surgery, vaccines or therapies">
                  <label class="govuk-label govuk-checkboxes__label" for="nonClinicalStaff">
                    Treatment, such as medicines, devices, surgery, vaccines or therapies
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </li>
        <li>
          <h2 class="govuk-heading-m">CTIMP</h2>
            {{ govukRadios({
              classes: "govuk-radios--inline",
              name: "isCTIMP",
              value: (data['isCTIMP']),
              fieldset: {
                legend: {
                  text: "Is this project a clinical trial of an investigational medicinal product (CTIMP)?",
                  classes: "govuk-fieldset__legend"
                }
              },
              items: [
                {
                  value: "Yes",
                  text: "Yes"
                },
                {
                  value: "No",
                  text: "No"
                }
              ]
            }) }}
            <ul>
              <li>

                {{ govukRadios({
                  classes: "govuk-radios",
                  name: "CTIMPCombined",
                  value: (data['CTIMPcombined']),
                  fieldset: {
                    legend: {
                      text: "Select the option that applies to your project:",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend"
                    }
                  },
                  items: [
                    {
                      value: "clinical trial of an investigational medicinal product",
                      text: "clinical trial of an investigational medicinal product"
                    },
                    {
                      value: "combined trial of an investigational medicinal product and an investigational medical device",
                      text: "combined trial of an investigational medicinal product and an investigational medical device"
                    }
                  ]
                }) }}
              </li>
            </ul>
          </li>
          <li>
            <h2 class="govuk-heading-m">Participant ages</h2>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="adultsAndChildren-hint">
                <legend class="govuk-fieldset__legend">
                  Are you involving adults or children in your project?
                </legend>
                <div id="adultsAndChildren-id" class="govuk-hint">
                  Select all that apply
                </div>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="adults" name="adultsAndChildren" type="checkbox" value="Adults">
                    <label class="govuk-label govuk-checkboxes__label" for="adults">
                      Adults
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="children" name="adultsAndChildren" type="checkbox" value="Children (under 16 yers of age)">
                    <label class="govuk-label govuk-checkboxes__label" for="children">
                      Children (under 16 yers of age)
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="adults1617" name="adultsAndChildren" type="checkbox" value="Adults (including children 16-17 years old in Scotland)">
                    <label class="govuk-label govuk-checkboxes__label" for="adults1617">
                      Adults (including children 16-17 years old in Scotland)
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="childu18" name="adultsAndChildren" type="checkbox" value="Children (under 18 years old)">
                    <label class="govuk-label govuk-checkboxes__label" for="childu18">
                      Children (under 18 years old)
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <ul>
              <li>
                {{ govukCheckboxes({
                name: "childAge",
                value: data["childAge"],
                fieldset: {
                  legend: {
                    text: "What ages are your child participants?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend"
                  }
                },
                hint: {
                  text: "Select all that apply"
                },
                items: [
                  {
                    value: "In utero",
                    text: "In utero"
                  },
                  {
                    value: "Preterm newborn infants (up to gestational age less than 37 weeks)",
                    text: "Preterm newborn infants (up to gestational age less than 37 weeks)"
                  },
                  {
                    value: "Newborn (0 to 27 days)",
                    text: "Newborn (0 to 27 days)"
                  },{
                    value: "28 days to 23 months",
                    text: "28 days to 23 months"
                  },
                  {
                    value: "2 to 9 years",
                    text: "2 to 9 years"
                  },
                  {
                    value: "10 to 15 years",
                    text: "10 to 15 years"
                  },
                  {
                    value: "16 to 17 years",
                    text: "16 to 17 years"
                  }
                ]
                }) }}
              </li>
              <li>
                {{ govukCheckboxes({
                name: "adultAge",
                value: data["adultAge"],
                fieldset: {
                  legend: {
                    text: "What ages are your adult participants?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend"
                  }
                },
                hint: {
                  text: "Select all that apply"
                },
                items: [
                  {
                    value: "16 to 17 years",
                    text: "16 to 17 years"
                  },
                  {
                    value: "18 to 39 years",
                    text: "18 to 39 years"
                  },
                  {
                    value: "40 to 49 years",
                    text: "40 to 49 years"
                  },{
                    value: "50 to 59 years",
                    text: "50 to 59 years"
                  },
                  {
                    value: "60 to 69 years",
                    text: "60 to 69 years"
                  },
                  {
                    value: "70+ years",
                    text: "70+ years"
                  }
                ]
                }) }}
              </li>
            </ul>
          </li>
          <li>
            <h2 class="govuk-heading-m">Additional facets</h2>
            <ul>
              <li>
                {{ govukRadios({
                  classes: "govuk-radios--inline",
                  name: "isClinical",
                  value: data["isClinical"],
                  fieldset: {
                    legend: {
                      text: "Is this project a clinical investigation or other study of a medical device (including digital technology)?",
                      classes: "govuk-fieldset__legend"
                    }
                  },
                  items: [
                    {
                      value: "Yes",
                      text: "Yes"
                    },
                    {
                      value: "No",
                      text: "No"
                    }
                  ]
                }) }}
              </li>
              <li>
                {{ govukRadios({
                  classes: "govuk-radios--inline",
                  name: "isIonising",
                  value: data["isIonising"],
                  fieldset: {
                    legend: {
                      text: "Does the project involve exposing participants to any ionising radiation?",
                      classes: "govuk-fieldset__legend"
                    }
                  },
                  items: [
                    {
                      value: "Yes",
                      text: "Yes"
                    },
                    {
                      value: "No",
                      text: "No"
                    }
                  ]
                }) }}
              </li>
              <li>
                {{ govukRadios({
                  classes: "govuk-radios--inline",
                  name: "isBioSample",
                  value: data["isBioSample"],
                  fieldset: {
                    legend: {
                      text: "Will you be taking or using any human biological samples?",
                      classes: "govuk-fieldset__legend"
                    }
                  },
                  items: [
                    {
                      value: "Yes",
                      text: "Yes"
                    },
                    {
                      value: "No",
                      text: "No"
                    }
                  ]
                }) }}
              </li>
            </ul>
          </li>
          <li>
            <h2 class="govuk-heading-m">Participant consent</h2>
            {{ govukRadios({
              name: "participantConsent",
              value: data["participantConsent"],
              fieldset: {
                legend: {
                  text: "Will you seek consent from or on behalf of participants?",
                  classes: "govuk-fieldset__legend"
                }
              },
              items: [
                {
                  value: "Consent will be obtained from or on behalf of all participants",
                  text: "Consent will be obtained from or on behalf of all participants"
                },
                {
                  value: "Consent will not be obtained from or on behalf of any participants",
                  text: "Consent will not be obtained from or on behalf of any participants"
                },
                {
                  value: "Consent will be obtained from or on behalf of participants in some situations",
                  text: "Consent will be obtained from or on behalf of participants in some situations"
                },
                {
                  value: "Consent has already been obtained from or on behalf of participants for use of their previously-collected data or human biological samples",
                  text: "Consent has already been obtained from or on behalf of participants for use of their previously-collected data or human biological samples"
                }
              ]
            }) }}
            <ul>
                <li>
                  {{ govukCheckboxes({
                    name: 'noConsent',
                    values: data['noConsent'],
                    fieldset: {
                      legend: {
                        text: "Select all the situations when consent or assent will not be obtained."
                      }
                    },
                    hint: {
                      text: "Select all that apply"
                    },
                    items: [
                      {
                        value: "for the use of non-identifiable patient or care data by the research team ",
                        text: "for the use of non-identifiable patient or care data by the research team "
                      },
                      {
                        value: "for access to identifiable patient or care data by the usual care team (including identification of potential participants)",
                        text: "for access to identifiable patient or care data by the usual care team (including identification of potential participants)"
                      },
                      {
                        value: "for access to identifiable patient or care data by people without an existing legal basis (including identification of potential participants)",
                        text: "for access to identifiable patient or care data by people without an existing legal basis (including identification of potential participants)"
                      },
                      {
                        value: "for the use of previously collected non-identifiable human biological samples",
                        text: "for the use of previously collected non-identifiable human biological samples"
                      },
                      {
                        value: "for the use of previously collected identifiable human biological samples without relevant consent for their use in this project",
                        text: "for the use of previously collected identifiable human biological samples without relevant consent for their use in this project"
                      },
                      {
                        value: "when adults do not have capacity to consent to their participation",
                        text: "when adults do not have capacity to consent to their participation"
                      },
                      {
                        value: "Other",
                        text: "Other"
                      }
                    ]
                  }) }}
                </li>
                <li>
                  {{ govukRadios({
                    classes: "govuk-radios",
                    name: "isCapable",
                    value: data["isCapable"],
                    fieldset: {
                      legend: {
                        text: "When recruiting adult participants, what capacity will they have to consent to their participation?",
                        classes: "govuk-fieldset__legend"
                      }
                    },
                    items: [
                      {
                        value: "all adults will have capacity to consent for themselves as participants",
                        text: "all adults will have capacity to consent for themselves as participants"
                      },
                      {
                        value: "no adults will have capacity to consent for themselves as participants",
                        text: "no adults will have capacity to consent for themselves as participants"
                      },
                      {
                        value: "some adults may lack capacity to consent for themselves as participants",
                        text: "some adults may lack capacity to consent for themselves as participants"
                      }
                    ]
                  }) }}
                </li>
              </ul>
            </li>
            <li>
              <h2 class="govuk-heading-m">HMPPS involvement</h2>
              {{ govukRadios({
                classes: "govuk-radios--inline",
                name: "isHMPPS",
                value: data["isHMPPS"],
                fieldset: {
                  legend: {
                    text: "Is your research studying the health and care of prisoners or young offenders in the custody of a government prison service or of people who are offenders supervised by a probation service? OR
              Will you include any participants who are prisoners or young offenders in custody or who are offenders supervised by a probation service?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend"
                  }
                },
                items: [
                  {
                    value: "yes",
                    text: "Yes"
                  },
                  {
                    value: "no",
                    text: "No"
                  }
                ]
              }) }}
              <ul>
                <li>
                  {{ govukCheckboxes({
                    name: "hmppsNations",
                    values: data['hmppsNations'],
                    fieldset: {
                      legend: {
                        text: "In which UK nations will you include participants who are prisoners or young offenders in custody or who are offenders supervised by a probation service?"
                      }
                    },
                    hint: {
                      text: "Select all that apply"
                    },
                    items: [
                      {
                        value: "England",
                        text: "England"
                      },
                      {
                        value: "Northern Ireland",
                        text: "Northern Ireland"
                      },
                      {
                        value: "Scotland",
                        text: "Scotland"
                      },
                      {
                        value: "Wales",
                        text: "Wales"
                      }
                    ]
                  }) }}
                </li>
              </ul>
            </li>
            <li>
              <h2 class="govuk-heading-m">MOD involvement</h2>
                {{ govukRadios({
                  classes: "govuk-radios--inline",
                  name: "isMOD",
                  value: data["isMOD"],
                  fieldset: {
                    legend: {
                      text: "Will this project involve any activity under the responsibility of the Ministry of Defence (MOD)?",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend"
                    }
                  },
                  items: [
                    {
                      value: "yes",
                      text: "Yes"
                    },
                    {
                      value: "no",
                      text: "No"
                    }
                  ]
                }) }}
              </li>
              <li>
                <h2 class="govuk-heading-m">HFEA involvement</h2>
                {{ govukRadios({
                  classes: "govuk-radios",
                  name: "isHFEA",
                  value: data["isHFEA"],
                  fieldset: {
                    legend: {
                      text: "Will this project involve activities or data regulated by the Human Fertilisation and Embryology Authority (HFEA)?",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend"
                    }
                  },
                  items: [
                    {
                      value: "yes, activities regulated by HFEA",
                      text: "yes, activities regulated by HFEA"
                    },
                    {
                      value: "yes, accessing data from the HFEA register",
                      text: "yes, accessing data from the HFEA register"
                    },
                    {
                      value: "no",
                      text: "no"
                    }
                  ]
                }) }}
              </li>
            </ol>
    </form>
  </div>
</div>

{% endblock %}
