{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
  </div>
  <div class="govuk-grid-column-one-third">

<!--    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}
-->
    <h2 class="govuk-heading-m">Plan & Prepare prototypes</h2>
    <h3 class="govuk-heading-m"><a href="/my-account">Start session here</a></h3>
   <!--<h3 class="govuk-heading-m"><a href="/project-scope/start">Configure project scope</a></h3>
    <h3 class="govuk-heading-m"><a href="/project/start">Project task list & question sets</a></h3>

  </div>
  <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">RFI Loop component examples</h2>
      <h3 class="govuk-heading-m"><a href="/rfi-loop/na">RFI No additional interaction</a></h3>
      <h3 class="govuk-heading-m"><a href="/rfi-loop/accordion">RFI accordion</a></h3>
      <h3 class="govuk-heading-m"><a href="/rfi-loop/tabs">RFI tabs</a></h3>
  </div>
  <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">In flow long form guidance</h2>
      <h3 class="govuk-heading-m"><a href="/guidance/demo-question-umbraco">Replicated umbraco</a></h3>
      <h3 class="govuk-heading-m"><a href="/guidance/demo-question-halo">Halo</a></h3>
  </div>-->
</div>
<!--  {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
{% endblock %}
