{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Unbranded page template
  </h1>
  <p class="govuk-body-l">
    This page doesn't use New Transport or display the GOV.UK header and footer.
  </p>

  @startuml
[*] --> DRAFT

DRAFT --> READY_FOR_TECH_REVIEW
READY_FOR_TECH_REVIEW --> TECH_REVIEW_IN_PROGRESS
TECH_REVIEW_IN_PROGRESS --> TECH_REVIEW_CHANGES_REQUESTED
TECH_REVIEW_CHANGES_REQUESTED --> TECH_REVIEW_IN_PROGRESS
TECH_REVIEW_IN_PROGRESS --> TECH_REVIEW_PASSED
TECH_REVIEW_PASSED --> READY_TO_SUBMIT_APPLICATION

READY_TO_SUBMIT_APPLICATION --> APPLICATION_SUBMITTED

APPLICATION_SUBMITTED --> APPLICATION_VALIDATION_IN_PROGRESS
APPLICATION_VALIDATION_IN_PROGRESS --> APPLICATION_INVALID_RETURNED
APPLICATION_INVALID_RETURNED --> APPLICATION_SUBMITTED
APPLICATION_VALIDATION_IN_PROGRESS --> REGULATORY_REVIEW_IN_PROGRESS

REGULATORY_REVIEW_IN_PROGRESS --> REQUEST_FOR_INFORMATION
REQUEST_FOR_INFORMATION --> APPLICANT_RESPONSE_RECEIVED
APPLICANT_RESPONSE_RECEIVED --> REGULATORY_REVIEW_IN_PROGRESS

REGULATORY_REVIEW_IN_PROGRESS --> DECISION_PENDING
DECISION_PENDING --> APPROVED
DECISION_PENDING --> NOT_APPROVED

APPROVED --> ACTIVE

ACTIVE --> MODIFICATION_DRAFT
MODIFICATION_DRAFT --> MODIFICATION_SUBMITTED
MODIFICATION_SUBMITTED --> MODIFICATION_REVIEW_IN_PROGRESS

MODIFICATION_REVIEW_IN_PROGRESS --> MODIFICATION_REQUEST_FOR_INFORMATION
MODIFICATION_REQUEST_FOR_INFORMATION --> MODIFICATION_RESPONSE_RECEIVED
MODIFICATION_RESPONSE_RECEIVED --> MODIFICATION_REVIEW_IN_PROGRESS

MODIFICATION_REVIEW_IN_PROGRESS --> MODIFICATION_APPROVED
MODIFICATION_APPROVED --> ACTIVE
MODIFICATION_REVIEW_IN_PROGRESS --> MODIFICATION_NOT_APPROVED
MODIFICATION_NOT_APPROVED --> ACTIVE

ACTIVE --> SUSPENDED
SUSPENDED --> ACTIVE

ACTIVE --> END_OF_STUDY_NOTIFIED
SUSPENDED --> END_OF_STUDY_NOTIFIED
END_OF_STUDY_NOTIFIED --> CLOSEOUT_IN_PROGRESS
CLOSEOUT_IN_PROGRESS --> CLOSED

REGULATORY_REVIEW_IN_PROGRESS --> WITHDRAWN
APPLICATION_INVALID_RETURNED --> WITHDRAWN
REQUEST_FOR_INFORMATION --> WITHDRAWN

WITHDRAWN --> [*]
NOT_APPROVED --> [*]
CLOSED --> [*]
@enduml


{% endblock %}
