{% extends "hmrc/layouts/account-header.html" %}

{% block pageTitle %}
  My account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        My account
      </h1>
    <p>
      This is your account homepage where you can access your workspaces.
    </p>
    <p>
        <strong>Last logged in:</strong> 16 December 2025 at 4:40pm UK time
    </p>
    <hr />
    <h2 class="govuk-heading-m">My workspaces</h2>
    <hr />
  </div>
</div>
  <ul class="govuk-grid-row card-group">
      <li class="govuk-grid-column-one-third card-group__item">
          <div class="card card--clickable" data-test="global-search">
              <h2 class="govuk-heading-m card__heading">
                  <a class="govuk-link card__link govuk-link--no-visited-state" href="/my-research" onclick="showAlert()">My research</a>
              </h2>
              <p class="govuk-body card__description">This is a card about research</p>
          </div>
      </li>
  </ul>

{% endblock %}
