{% extends "layouts/main.html" %}

{% block pageTitle %}
  My research – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "My account",
      href: "#"
    }
  ]
}) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      {% set html %}
        <h3 class="govuk-notification-banner__heading">
          Your project has been created
        </h3>
        <p class="govuk-body">You can add more information to your project <a href='/project-scope/start'>here</a></p>
      {% endset %}

      {{ govukNotificationBanner({
        html: html,
        type: "success"
      }) }}

      <h1 class="govuk-heading-l">
        My research
      </h1>

      {{ govukTable({
        attributes: {
          "data-module": "moj-sortable-table"
        },
        caption: "",
        head: [
          {
            text: "Short project title",
            attributes: {
              "aria-sort": "ascending"
            }
          },
          {
            text: "IRAS ID",
            attributes: {
              "aria-sort": "none"
            }
          },
          {
            text: "Date created",
            attributes: {
              "aria-sort": "none"
            }
          },
          {
            text: "Status",
            attributes: {
              "aria-sort": "none"
            }
          }
        ],
        rows: [
          [
            {
              html: "<a href='/project-scope/start'>" + data.projectTitle + "</a>"
            },
            {
              text: '123456'
            },
            {
              text: data['submissionDate']
            },
            {
              html: govukTag({
                text: "Draft"
              })
            }
          ]
        ]
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
        <h2 class="govuk-heading-m">Add project</h2>
        <p>
          You can create a new project, or create a project record for an existing project.
        </P>
        {{ govukButton({
          text: "Create new project",
          href: "/my-research/create-project-details",
          isStartButton: false
        }) }}
      </div>
  </div>


{% endblock %}
