{% extends "layouts/main.html" %}

{% block pageTitle %}
  My research – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "My account",
      href: "#"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        My research
      </h1>
      <p>
        You don't have any projects available in this service.
      </p>
      <p>
        You can create a new project, or create a project record for an existing project.
      </P>
      {{ govukButton({
        text: "Create new project",
        href: "/my-research/project-scope-start",
        isStartButton: false
      }) }}
        &nbsp;
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Create project record for existing project
      </button>
    </div>
  </div>

{% endblock %}
