{% extends "layouts/main.html" %}

{% block pageTitle %}
  My research – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "My account",
      href: "#"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        My research
      </h1>
      <p>
        You do not have any projects available in this service.
      </p>
      <p>
          Use the button below to get started. 
      </p>
      <!-- <p>
        You can create a new project, or create a project record for an existing project.
      </P> -->
      {{ govukButton({
        text: "Create new project",
        href: "/my-research/create-project-details",
        isStartButton: false
      }) }}
        &nbsp;
    </div>
  </div>

{% endblock %}
