{% extends "layouts/main.html" %}
{% from "_partials/_question.html" import renderQuestion %}

{% block pageTitle %}
  {{ data['projectTitle'] or "Project title"}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ data['projectTitle'] or "Project title"}} - Summary of ethical issues
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

        <!-- if might be PR (I still don't know what PR is) -->
        {{ renderQuestion(questions.fullRecReview, data, errors, null, null, errorMap) }}

        <!-- if not PR OR fullRecReview == Yes -->
        {{ renderQuestion(questions.ethicalIssues, data, errors, null, null, errorMap) }}

        <!-- fullRecReview == No -->
        {{ renderQuestion(questions.fullRecReviewNo, data, errors, null, null, errorMap) }}

        <!-- if researchActivities != non-clinical interviews -->
        {{ renderQuestion(questions.possibleHealthFindings, data, errors, null, null, errorMap) }}

        <!-- if possibleHealthFindings == Yes -->
        {{ renderQuestion(questions.possibleHealthFindingsYes, data, errors, null, null, errorMap) }}

        <!-- if possibleHealthFindings == No -->
        {{ renderQuestion(questions.possibleHealthFindingsNo, data, errors, null, null, errorMap) }}

        <!-- Always show -->
        {{ renderQuestion(questions.applicationPrevious, data, errors, null, null, errorMap) }}

        <!-- if applicationPrevious == Unfavourable UK -->
        {{ renderQuestion(questions.previousIrasId, data, errors, null, null, errorMap) }}

        <!-- if applicationPrevious == unfavourable UK or elsewhere -->
        {{ renderQuestion(questions.unfavourableReason, data, errors, null, null, errorMap) }}

        <!-- if applicationPrevious == linked to other -->
        {{ renderQuestion(questions.linkedToOther, data, errors, null, null, errorMap) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          {{ govukButton({
            text: "Save for later",
            classes: "govuk-button--secondary",
            href: "/project/start"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
