{% extends "layouts/main.html" %}
{% from "_partials/_question.html" import renderQuestion %}

{% block pageTitle %}
  All questions in the filter – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{% if errors and errors.length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

{# ----------------------------
  Define checkbox/radio items
  (keeps the page readable)
----------------------------- #}

{% set participantGroupItems = [
  { value: "carers_guardians", text: "Carers, parents or legal guardians of patients or participants" },
  { value: "healthy_volunteers", text: "Healthy volunteers or controls" },
  { value: "public", text: "Members of the public" },
  { value: "nhs_patients_service_users", text: "Patients or service users of NHS or HSC provided or commissioned services" },
  { value: "care_home_residents", text: "Patients or residents in care homes, independent health care clinics, nursing homes or residential care" },
  { value: "deceased", text: "People who are known to be deceased prior to their inclusion in the project" },
  { value: "other_social_care_users", text: "Service users in other social care settings" },
  { value: "nhs_hsc_staff", text: "Staff working in NHS or HSC provided or commissioned services" },
  { value: "other_care_staff", text: "Staff working in other care settings" },
  { value: "other", text: "Other" }
] %}

{% set researchActivityItems = [
  { value: "Use of previously collected data about people", text: "Use of previously collected data about people" },
  { value: "Use of previously collected human biological samples", text: "Use of previously collected human biological samples" },
  { value: "Non-clinical activities with staff, such as interviews, questionnaires and observations", text: "Non-clinical activities with staff, such as interviews, questionnaires and observations" },
  { value: "Non-clinical activities with people, such as interviews or surveys", text: "Non-clinical activities with people, such as interviews or surveys" },
  { value: "Non-clinical activities with people, such as non-clinical assessments, observations or care procedures", text: "Non-clinical activities with people, such as non-clinical assessments, observations or care procedures" },
  { value: "Clinical activities with people, such as collecting human biological samples, imaging investigations or diagnostics", text: "Clinical activities with people, such as collecting human biological samples, imaging investigations or diagnostics" },
  { value: "Treatment, such as medicines, devices, surgery, vaccines or therapies", text: "Treatment, such as medicines, devices, surgery, vaccines or therapies" }
] %}

{% set adultsAndChildrenItems = [
  { value: "Adults", text: "Adults" },
  { value: "Children (under 16 years of age)", text: "Children (under 16 years of age)" },
  { value: "Adults (including children 16-17 years old in Scotland)", text: "Adults (including children 16-17 years old in Scotland)" },
  { value: "Children (under 18 years old)", text: "Children (under 18 years old)" }
] %}

{% set childAgeItems = [
  { value: "In utero", text: "In utero" },
  { value: "Preterm newborn infants (up to gestational age less than 37 weeks)", text: "Preterm newborn infants (up to gestational age less than 37 weeks)" },
  { value: "Newborn (0 to 27 days)", text: "Newborn (0 to 27 days)" },
  { value: "28 days to 23 months", text: "28 days to 23 months" },
  { value: "2 to 9 years", text: "2 to 9 years" },
  { value: "10 to 15 years", text: "10 to 15 years" },
  { value: "16 to 17 years", text: "16 to 17 years" }
] %}

{% set adultAgeItems = [
  { value: "16 to 17 years", text: "16 to 17 years" },
  { value: "18 to 39 years", text: "18 to 39 years" },
  { value: "40 to 49 years", text: "40 to 49 years" },
  { value: "50 to 59 years", text: "50 to 59 years" },
  { value: "60 to 69 years", text: "60 to 69 years" },
  { value: "70+ years", text: "70+ years" }
] %}

{% set noConsentItems = [
  { value: "non_identifiable_patient_data", text: "For the use of non-identifiable patient or care data by the research team" },
  { value: "identifiable_data_usual_care_team", text: "For access to identifiable patient or care data by the usual care team (including identification of potential participants)" },
  { value: "identifiable_data_no_legal_basis", text: "For access to identifiable patient or care data by people without an existing legal basis (including identification of potential participants)" },
  { value: "previously_collected_non_identifiable_biosamples", text: "For the use of previously collected non-identifiable human biological samples" },
  { value: "previously_collected_identifiable_biosamples_no_consent", text: "For the use of previously collected identifiable human biological samples without relevant consent for their use in this project" },
  { value: "adult_lacks_capacity", text: "When adults do not have capacity to consent to their participation" },
  { value: "other", text: "Other" }
] %}
{% set hmppsNationItems = [
  { value: "England", text: "England" },
  { value: "Northern Ireland", text: "Northern Ireland" },
  { value: "Scotland", text: "Scotland" },
  { value: "Wales", text: "Wales" }
] %}


{% set sponsorOrgItem = [
  { value: "airedaleNHS", text: "Airedale NHS Foundation Trust" },
  { value: "astraZeneca", text: "AstraZeneca UK Limited" },
  { value: "belfastHSC", text: "Belfast Health and Social Care Trust" },
  { value: "cambridgeUni", text: "Cambridge University Hospitals NHS Foundation Trust" },
  { value: "cardiffLHB", text: "Cardiff & Vale University LHB" },
  { value: "cardiffUni", text: "Cardiff University" },
  { value: "derbyshireNHS", text: "Derbyshire Healthcare NHS Foundation Trust" },
  { value: "eastLancsNHS", text: "East Lancashire Hospitals NHS Trust" },
  { value: "greaterGlasgow", text: "Greater Glasgow and Clyde" },
  { value: "guysStThomas", text: "Guy's and St Thomas' NHS Foundation Trust" },
  { value: "imperialCollege", text: "Imperial College Healthcare NHS Trust" },
  { value: "lifescanScot", text: "Lifescan Scotland Ltd." },
  { value: "prifysgolAber", text: "Prifysgol Aberystwyth" },
  { value: "queenVHos", text: "Queen Victoria Hospital NHS Foundation Trust" },
  { value: "uniHosSouth", text: "University Hospital Southampton NHS Foundation Trust" },
  { value: "uOfAber", text: "University of Aberdeen" },
  { value: "uOfBir", text: "University of Birmingham" },
  { value: "uOfBri", text: "University of Bristol" },
  { value: "uOfEdi", text: "University of Edinburgh" },
  { value: "uOfMan", text: "University of Manchester" }
] %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">All questions in the filter</h1>

    <form class="form" action="#" method="post">



        {{ renderQuestion(questions.projectTitle, data, errors, null, null, errorMap) }}

        {{ renderQuestion(questions.fullProjectTitle, data, errors, null, null, errorMap) }}

        {{ renderQuestion(questions.UKNations, data, errors, null, null, errorMap) }}

        {{ renderQuestion(questions.nhsHscOrg, data, errors, null, null, errorMap) }}

        {% from "govuk/components/select/macro.njk" import govukSelect %}
        <h3 class="govuk-heading-m">Sponsor organisation</h3>
        <p>Start typing to see suggestions and select an organisation</p>
        <div id="autocomplete-container" style="padding-bottom: 15px;"></div>

        {{ renderQuestion(questions.sponsorOrg, data, errors, null, null, errorMap) }}

        {{ renderQuestion(questions.chiefInvestigator, data, errors, null, addChiefHtml, errorMap) }}



      {{ renderQuestion(questions.participantGroups, data, errors, participantGroupItems, null, errorMap) }}
      {{ renderQuestion(questions.researchActivities, data, errors, researchActivityItems, null, errorMap) }}


      {% set ctimpCombinedHtml %}
        {{ renderQuestion(questions.ctimpCombined, data, errors) }}
      {% endset %}

      {{ renderQuestion(questions.isCTIMP, data, errors, null, ctimpCombinedHtml, errorMap) }}

      {{ renderQuestion(questions.adultsAndChildren, data, errors, adultsAndChildrenItems) }}

      {{ renderQuestion(questions.childAge, data, errors, childAgeItems) }}

      {{ renderQuestion(questions.adultAge, data, errors, adultAgeItems) }}

      {{ renderQuestion(questions.isClinical, data, errors, null, null, errorMap) }}

      {{ renderQuestion(questions.isIonising, data, errors, null, null, errorMap) }}

      {{ renderQuestion(questions.isBioSample, data, errors, null, null, errorMap) }}

      {{ renderQuestion(questions.participantConsent, data, errors, null, null, errorMap) }}

      {{ renderQuestion(questions.isCapable, data, errors, null, null, errorMap) }}

      {{ renderQuestion(questions.noConsent, data, errors, null, null, errorMap) }}

      {% set hmppsHtml %}
        {{ renderQuestion(questions.hmppsNations, data, errors) }}

      {% endset %}
      {{ renderQuestion(questions.isHMPPS, data, errors, null, hmppsHtml, errorMap) }}

      {{ renderQuestion(questions.isMOD, data, errors, null, null, errorMap) }}

      {{ renderQuestion(questions.isHFEA, data, errors, null, null, errorMap) }}

      {{ govukButton({ text: "Continue" }) }}

    </form>
  </div>
</div>

{% endblock %}
