{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% block stylesheets %}
  {{ super() }}
  <link href="/public/css/components.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block header %}

  {% from "govuk/components/header/macro.njk" import govukHeader %}
  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

  {{ govukHeader({
  classes: "govuk-header--full-width-border",
  productName: "Plan and Manage Health and Care Research"
  }) }}
  {{ govukServiceNavigation({
  navigation: [
    {
      href: "#",
      text: "Home"
    },
    {
      href: "#",
      text: "Profile and settings"
    },
    {
      href: "#",
      text: "Notifications"
    },
    {
      href: "#",
      text: "Help and suport"
    },
    {
      href: "#",
      text: "Sign out"
    }
    ]
  }) }}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "Prototype"
      },
      html: 'This is a demonstration of the service, not the real thing.'
    }) }}
    </div>
  </div>
</div>
{% endblock %}
